# python compile files
# ===========
*.pyc

# private
# ===========
credentials/
media/*
# Exception to the rule
!media/README.md
static/*
# Exception to the rule
!static/README.md
landcoverportal/settings.py
debug.log

# Eclipse project files
# ======================
.project
.pydevproject
*.pyproj

# Visual Studio project files
# ======================
.settings/
.vs/
*.sln
.vscode/

# Vendor files
# ======================
landcoverportal/static/vendor/*
landcoverportal/static/dist/*
# Exception to the rule
!landcoverportal/static/dist/README.md

# Node and related environment
# ======================
.npmignore
node_modules/
