<div class="tab-pane fade active in" id="area-tab">
    <div class="btn-pref-inner btn-group btn-group-justified btn-group-lg" role="group" aria-label="true">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary btn-sm js-tooltip" href="#draw-tab" data-toggle="tab" title="Draw Polygon, Circle or Rectangle or upload shpaefile/kml">
                <div class="hidden-xs">Draw or <br/>Upload Area</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm js-tooltip" href="#admin-tab" data-toggle="tab" title="Select From Countries Administrative Layers">
                <div class="hidden-xs">Administrative <br/> Region</div>
            </button>
        </div>
    </div>
    <div class="tab-content inner-tab">
        <!-- Inner Tab -->
        <div class="tab-pane fade active in" id="draw-tab">

            <button type="button" class="btn btn-default btn-sm btn-drawtool" ng-click="drawShape('polygon')">
                <i class="fas fa-draw-polygon fa-2x" style="color:#379683"></i>
                <p style="margin: 0 0 0px;">Polygon</p>
            </button>
            <button type="button" class="btn btn-default btn-sm btn-drawtool" ng-click="drawShape('circle')">
                <i class="far fa-circle fa-2x" style="color:#379683"></i>
                <p style="margin: 0 0 0px;">Circle</p>
            </button>
            <button type="button" class="btn btn-default btn-sm btn-drawtool" ng-click="drawShape('rectangle')">
                <i class="far fa-square fa-2x" style="color:#379683"></i>
                <p style="margin: 0 0 0px;">Rectangle</p>
            </button>

            <label class="btn btn-primary btn-sm btn-block" style="margin-top:10px;" id="file-input-container">
                <p style="margin: 0 0 0px;"><i class="far fa-folder-open fa-2x" style="color:#fff"></i>  Upload Area</p>
                <p style="margin: 0 0 0px;">(accepts kml, kmz and geojson)</p>
                <input type="file" class="hide" id="file-input"
                       accept=".kml,.kmz,.json,.geojson,application/json,application/vnd.google-earth.kml+xml,application/vnd.google-earth.kmz">
            </label>
        </div>
        <div class="tab-pane fade in" id="admin-tab">
            <div class="form-group">
                <label for="area-index-filter">Filter Area By</label>
                <select name="area-index-filter" class="form-control" ng-options="option.name for option in areaIndexSelectors"
                        ng-model="areaIndexSelector" ng-change="populateAreaVariableOptions(areaIndexSelector)">
                </select>
            </div>
            <div class="form-group" ng-show="showAreaVariableSelector">
                <label for="area-variable-filter">Select From</label>
                <select name="area-variable-filter" class="form-control" ng-options="option for option in areaVariableOptions"
                        ng-model="areaName" ng-change="loadAdminArea(areaName)">
                </select>
            </div>
        </div>
    </div>
</div>
