{% load staticfiles %}

<div class="nav-side-menu">
    <!--<div class="brand">Analysis Parameters</div>-->
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <div class="forest-definition inline-block-display">
            <h4 class="text-center">Data courtesy of:</h4>
            <div class="sidebar-image-container">
                <div class="float-left">
                    <img src="{% static 'images/glad.png' %}" height="65px" width="95%"/>
                </div>
                <div class="float-right">
                    <img src="{% static 'images/umd.png' %}" height="65px" width="95%"/>
                </div>
            </div>
        </div>

        <div class="forest-definition inline-block-display">
            <h4 class="text-center">Forest Definition</h4>
            <form class="form-inline">
                <div class="form-group">
                    <label for="treeCanopyDefinition">
                            <h5>Tree canopy greater than (%)</h5>
                        </label>
                    <input type="number" class="form-control custom-form" id="treeCanopyDefinition" min="10" max="100" step="1" ng-init="treeCanopyDefinition=10" ng-model="treeCanopyDefinition">
                </div>
                <div class="form-group">
                    <label for="treeHeightDefinition">
                            <h5>Tree height greater than (meters)</h5>
                        </label>
                    <input type="number" class="form-control custom-form" id="treeHeightDefinition" min="5" step="1" ng-init="treeHeightDefinition=5" ng-model="treeHeightDefinition">
                </div>
            </form>
        </div>

        <ul id="menu-content" class="menu-content collapse out">

            <li>

            </li>

            <li data-toggle="collapse" data-target="#treeCanopy" class="collapsed">
                <a href="#">
                        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Annual Forest Extent <span class="sidebar-arrow"></span>
                    </a>
            </li>
            <ul class="sub-menu collapse" id="treeCanopy">
                <li><a href="#">Tree Canopy Cover for </a>
                    <div class="form-group inline-block-display">
                        <select name="year-filter" class="form-control" id="year-filter" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="treeCanopyYear" ng-change="treeCanopyYearChange(treeCanopyYear)">
                            </select>
                    </div>
                    <div class="form-group" ng-show="showTreeCanopyOpacitySlider">
                        <label for="tree-canopy-opacity-slider" style="margin-right: 10px;">Opacity </label>
                        <input name="tree-canopy-opacity-slider" id="tree-canopy-opacity-slider" data-slider-id="tree-canopy-opacity-slider" type="text" style="width: 70%;" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" />
                    </div>
                    <div class="form-group text-center" ng-show="showTreeCanopyDownloadButtons">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" href="" ng-click="getDownloadURL('treeCanopy', treeCanopyYear)">
                                    Get Download URL
                                </button>
                            <button type="button" class="btn btn-info" href="" ng-click="showGDriveFileName('treeCanopy', treeCanopyYear)">
                                    Download to GDrive
                                </button>
                        </div>
                    </div>
                    <div class="input-group" ng-show="showTreeCanopyDownloadURL" style="margin: 10px;">
                        <input type="text" class="form-control" value="[[treeCanopyDownloadURL]]">
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default treeCanopyCpyBtn js-tooltip"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Copy to clipboard"
                                        ng-click="copyToClipBoard('treeCanopy')"
                                        style="height: 34px;margin-bottom: 14px;">
                                    <!-- icon from google's material design library -->
                                    <svg class="clipboard-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                                </button>
                            </span>
                    </div>
                    <div class="input-group" ng-show="showTreeCanopyGDriveFileName" style="margin: 10px;">
                        <input type="text" id="treeCanopyGDriveFileName" placeholder="Enter Filename!" class="form-control">
                        <span class="input-group-btn">
                                <button type="button"
                                        ng-click="saveToDrive('treeCanopy', treeCanopyYear)"
                                        class="btn btn-primary"
                                        style="height: 34px;margin-bottom: 14px;">
                                    Start Download
                                </button>
                            </span>
                    </div>
                </li>
                <li><a href="#">Tree Canopy Height for </a>
                    <div class="form-group inline-block-display">
                        <select name="year-filter" class="form-control" id="year-filter" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="treeHeightYear" ng-change="treeHeightYearChange(treeHeightYear)">
                            </select>
                    </div>
                    <div class="form-group" ng-show="showTreeHeightOpacitySlider">
                        <label for="tree-height-opacity-slider" style="margin-right: 10px;">Opacity </label>
                        <input name="tree-height-opacity-slider" id="tree-height-opacity-slider" style="width: 70%;" data-slider-id="tree-height-opacity-slider" type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" />
                    </div>
                    <div class="form-group text-center" ng-show="showTreeHeightDownloadButtons">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" href="" ng-click="getDownloadURL('treeHeight', treeHeightYear)">
                                    Get Download URL
                                </button>
                            <button type="button" class="btn btn-info" href="" ng-click="showGDriveFileName('treeHeight', treeHeightYear)">
                                    Download to GDrive
                                </button>
                        </div>
                    </div>
                    <div class="input-group" ng-show="showTreeHeightDownloadURL" style="margin: 10px;">
                        <input type="text" class="form-control" value="[[treeHeightDownloadURL]]">
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default treeHeightCpyBtn js-tooltip"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Copy to clipboard"
                                        ng-click="copyToClipBoard('treeHeight')"
                                        style="height: 34px;margin-bottom: 14px;">
                                    <!-- icon from google's material design library -->
                                    <svg class="clipboard-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                                </button>
                            </span>
                    </div>
                    <div class="input-group" ng-show="showTreeHeightGDriveFileName" style="margin: 10px;">
                        <input type="text" id="treeHeightGDriveFileName" placeholder="Enter Filename!" class="form-control">
                        <span class="input-group-btn">
                                <button type="button"
                                        ng-click="saveToDrive('treeHeight', treeHeightYear)"
                                        class="btn btn-primary"
                                        style="height: 34px;margin-bottom: 14px;">
                                    Start Download
                                </button>
                            </span>
                    </div>
                </li>
            </ul>

            <li data-toggle="collapse" data-target="#forestDynamics" class="collapsed">
                <a href="#">
                        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Forest Dynamics <span class="sidebar-arrow"></span>
                    </a>
            </li>
            <ul class="sub-menu collapse" id="forestDynamics">
                <!--<li><a href="#">Forest Definition</a>
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="treeCanopyDefinition">
                                    <h5>Tree canopy greater than (%)</h5>
                                </label>
                                <input type="number" class="form-control custom-form" id="treeCanopyDefinition" min="10" max="100" step="1" ng-init="treeCanopyDefinition=10" ng-model="treeCanopyDefinition">
                            </div>
                            <div class="form-group">
                                <label for="treeHeightDefinition">
                                    <h5>Tree height greater than (meters)</h5>
                                </label>
                                <input type="number" class="form-control custom-form" id="treeHeightDefinition" min="5" step="1" ng-init="treeHeightDefinition=5" ng-model="treeHeightDefinition">
                            </div>-->
                <!--<div class="form-group">
                                <label for="areaDefinition">
                                    <h5>Area greater than (hectares)</h5>
                                </label>
                                <input type="number" class="form-control custom-form" id="areaDefinition" min="0.5" step="0.1" ng-init="areaDefinition=0.5" ng-model="areaDefinition">
                            </div>-->
                <!--</form>
                    </li>-->
                <li><a href="#">Forest Gain </a>
                    <div class="text-center">
                        <span>From </span>
                        <div class="form-group inline-block-display">
                            <select name="forest-gain-start-year" class="form-control" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestGainStartYear">
                                </select>
                        </div>
                        <span> To </span>
                        <div class="form-group inline-block-display">
                            <select name="forest-gain-end-year" class="form-control" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestGainEndYear">
                                </select>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success" ng-click="calculateForestGain(forestGainStartYear, forestGainEndYear)">
                                Perform Calculations
                            </button>
                    </div>
                    <div class="form-group" ng-show="showForestGainOpacitySlider">
                        <label for="forest-gain-opacity-slider" style="margin-right: 10px;">Opacity </label>
                        <input name="forest-gain-opacity-slider" id="forest-gain-opacity-slider" style="width: 70%;" data-slider-id="forest-gain-opacity-slider" type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" />
                    </div>
                    <div class="form-group text-center" ng-show="showForestGainDownloadButtons">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" href="" ng-click="getDownloadURL('forestGain', forestGainStartYear, forestGainEndYear, true)">
                                    Get Download URL
                                </button>
                            <button type="button" class="btn btn-info" href="" ng-click="showGDriveFileName('forestGain', forestGainStartYear, forestGainEndYear, true)">
                                    Download to GDrive
                                </button>
                        </div>
                    </div>
                    <div class="input-group" ng-show="showForestGainDownloadURL" style="margin: 10px;">
                        <input type="text" class="form-control" value="[[forestGainDownloadURL]]">
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default forestGainCpyBtn js-tooltip"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Copy to clipboard"
                                        ng-click="copyToClipBoard('forestGain')"
                                        style="height: 34px;margin-bottom: 14px;">
                                    <!-- icon from google's material design library -->
                                    <svg class="clipboard-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                                </button>
                            </span>
                    </div>
                    <div class="input-group" ng-show="showForestGainGDriveFileName" style="margin: 10px;">
                        <input type="text" id="forestGainGDriveFileName" placeholder="Enter Filename!" class="form-control">
                        <span class="input-group-btn">
                                <button type="button"
                                        ng-click="saveToDrive('forestGain', forestGainStartYear, forestGainEndYear, true)"
                                        class="btn btn-primary"
                                        style="height: 34px;margin-bottom: 14px;">
                                    Start Download
                                </button>
                            </span>
                    </div>
                </li>
                <li><a href="#">Forest Loss </a>
                    <div class="text-center">
                        <span>From </span>
                        <div class="form-group inline-block-display">
                            <select name="forest-loss-start-year" class="form-control" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestLossStartYear">
                                </select>
                        </div>
                        <span> To </span>
                        <div class="form-group inline-block-display">
                            <select name="forest-loss-end-year" class="form-control" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestLossEndYear">
                                </select>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success" ng-click="calculateForestLoss(forestLossStartYear, forestLossEndYear)">
                                Perform Calculations
                            </button>
                    </div>
                    <div class="form-group" ng-show="showForestLossOpacitySlider">
                        <label for="forest-loss-opacity-slider" style="margin-right: 10px;">Opacity </label>
                        <input name="forest-loss-opacity-slider" id="forest-loss-opacity-slider" style="width: 70%;" data-slider-id="forest-loss-opacity-slider" type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" />
                    </div>
                    <div class="form-group text-center" ng-show="showForestLossDownloadButtons">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" href="" ng-click="getDownloadURL('forestLoss', forestLossStartYear, forestLossEndYear, true)">
                                    Get Download URL
                                </button>
                            <button type="button" class="btn btn-info" href="" ng-click="showGDriveFileName('forestLoss', forestLossStartYear, forestLossEndYear, true)">
                                    Download to GDrive
                                </button>
                        </div>
                    </div>
                    <div class="input-group" ng-show="showForestLossDownloadURL" style="margin: 10px;">
                        <input type="text" class="form-control" value="[[forestLossDownloadURL]]">
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default forestLossCpyBtn js-tooltip"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Copy to clipboard"
                                        ng-click="copyToClipBoard('forestLoss')"
                                        style="height: 34px;margin-bottom: 14px;">
                                    <!-- icon from google's material design library -->
                                    <svg class="clipboard-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                                </button>
                            </span>
                    </div>
                    <div class="input-group" ng-show="showForestLossGDriveFileName" style="margin: 10px;">
                        <input type="text" id="forestLossGDriveFileName" placeholder="Enter Filename!" class="form-control">
                        <span class="input-group-btn">
                                <button type="button"
                                        ng-click="saveToDrive('forestLoss', forestLossStartYear, forestLossEndYear, true)"
                                        class="btn btn-primary"
                                        style="height: 34px;margin-bottom: 14px;">
                                    Start Download
                                </button>
                            </span>
                    </div>
                </li>
                <li><a href="#">Forest Change </a>
                    <div class="text-center">
                        <span>From </span>
                        <div class="form-group inline-block-display">
                            <select name="forest-change-start-year" class="form-control" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestChangeStartYear">
                                </select>
                        </div>
                        <span> To </span>
                        <div class="form-group inline-block-display">
                            <select name="forest-change-end-year" class="form-control" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestChangeEndYear">
                                </select>
                        </div>
                        </span>
                        <div class="text-center">
                            <button type="button" class="btn btn-success" ng-click="calculateForestChange(forestChangeStartYear, forestChangeEndYear)">
                                Perform Calculations
                            </button>
                        </div>
                        <div class="form-group" ng-show="showForestChangeOpacitySlider">
                            <label for="forest-change-opacity-slider" style="margin-right: 10px;">Opacity </label>
                            <input name="forest-change-opacity-slider" id="forest-change-opacity-slider" style="width: 70%;" data-slider-id="forest-change-opacity-slider" type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" />
                        </div>
                        <div class="form-group text-center" ng-show="showForestChangeDownloadButtons">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success" href="" ng-click="getDownloadURL('forestChange', forestChangeStartYear, forestChangeEndYear, true)">
                                    Get Download URL
                                </button>
                                <button type="button" class="btn btn-info" href="" ng-click="showGDriveFileName('forestChange', forestChangeStartYear, forestChangeEndYear, true)">
                                    Download to GDrive
                                </button>
                            </div>
                        </div>
                        <div class="input-group" ng-show="showForestChangeDownloadURL" style="margin: 10px;">
                            <input type="text" class="form-control" value="[[forestChangeDownloadURL]]">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default forestChangeCpyBtn js-tooltip"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Copy to clipboard"
                                        ng-click="copyToClipBoard('forestChange')"
                                        style="height: 34px;margin-bottom: 14px;">
                                    <!-- icon from google's material design library -->
                                    <svg class="clipboard-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                                </button>
                            </span>
                        </div>
                        <div class="input-group" ng-show="showForestChangeGDriveFileName" style="margin: 10px;">
                            <input type="text" id="forestChangeGDriveFileName" placeholder="Enter Filename for GDrive!" class="form-control">
                            <span class="input-group-btn">
                                <button type="button"
                                        ng-click="saveToDrive('forestChange', forestChangeStartYear, forestChangeEndYear, true)"
                                        class="btn btn-primary"
                                        style="height: 34px;margin-bottom: 14px;">
                                    Start Download
                                </button>
                            </span>
                        </div>
                </li>
            </ul>

            <li data-toggle="collapse" data-target="#landUse" class="collapsed">
                <a href="#">
                        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Forest Land Use <span class="sidebar-arrow"></span>
                    </a>
            </li>
            <ul class="sub-menu collapse" id="landUse">
                <!--<li><a href="#">Primary Forest</a></li>
                    <li><a href="#">Plantations</a></li>-->
                <li>Coming Soon...</li>
            </ul>

        </ul>
        </div>
    </div>
