<div class="nav-side-menu">
    <!--<div class="brand">Analysis Parameters</div>-->
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">

                <li data-toggle="collapse" data-target="#treeCanopy" class="collapsed">
                    <a href="#">
                        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Annual Forest Extent <span class="sidebar-arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="treeCanopy">
                    <li><a href="#">Tree Canopy Cover for </a>
                        <div class="form-group inline-block-display">
                            <select name="year-filter" class="form-control" id="year-filter"
                                    ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="treeCanopyYear" ng-change="treeCanopyYearChange(treeCanopyYear)">
                            </select>
                        </div>
                        <div class="form-group inline-block-display" ng-show="showTreeCanopyOpacitySlider">
                            <label for="tree-canopy-opacity-slider">Opacity </label>
                            <input name="tree-canopy-opacity-slider" id="tree-canopy-opacity-slider"
                                   data-slider-id="tree-canopy-opacity-slider" type="text"
                                   data-slider-min="0"
                                   data-slider-max="1"
                                   data-slider-step="0.1" />
                        </div>
                    </li>
                    <li><a href="#">Tree Canopy Height for </a>
                        <div class="form-group inline-block-display">
                            <select name="year-filter" class="form-control" id="year-filter"
                                    ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="treeHeightYear" ng-change="treeHeightYearChange(treeHeightYear)">
                            </select>
                        </div>
                        <div class="form-group inline-block-display" ng-show="showTreeHeightOpacitySlider">
                            <label for="tree-height-opacity-slider">Opacity </label>
                            <input name="tree-height-opacity-slider" id="tree-height-opacity-slider"
                                   data-slider-id="tree-height-opacity-slider" type="text"
                                   data-slider-min="0"
                                   data-slider-max="1"
                                   data-slider-step="0.1" />
                        </div>
                    </li>
                </ul>

                <li data-toggle="collapse" data-target="#forestDynamics" class="collapsed">
                    <a href="#">
                        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Forest Dynamics <span class="sidebar-arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="forestDynamics">
                    <li><a href="#">Forest Gain </a>
                        <div class="text-center">
                            <span>From </span>
                            <div class="form-group inline-block-display">
                                <select name="forest-gain-start-year" class="form-control"
                                        ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestGainStartYear">
                                </select>
                            </div>
                            <span> To </span>
                            <div class="form-group inline-block-display">
                                <select name="forest-gain-end-year" class="form-control"
                                        ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestGainEndYear">
                                </select>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success" ng-click="calculateForestGain(forestGainStartYear, forestGainEndYear)">
                                Perform Calculations
                            </button>
                        </div>
                        <div class="form-group inline-block-display" ng-show="showForestGainOpacitySlider">
                            <label for="forest-gain-opacity-slider">Opacity </label>
                            <input name="forest-gain-opacity-slider" id="forest-gain-opacity-slider"
                                   data-slider-id="forest-gain-opacity-slider" type="text"
                                   data-slider-min="0"
                                   data-slider-max="1"
                                   data-slider-step="0.1" />
                        </div>
                    </li>
                    <li><a href="#">Forest Loss </a>
                        <div class="text-center">
                            <span>From </span>
                            <div class="form-group inline-block-display">
                                <select name="forest-loss-start-year" class="form-control"
                                        ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestLossStartYear">
                                </select>
                            </div>
                            <span> To </span>
                            <div class="form-group inline-block-display">
                                <select name="forest-loss-end-year" class="form-control"
                                        ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestLossEndYear">
                                </select>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success" ng-click="calculateForestLoss(forestLossStartYear, forestLossEndYear)">
                                Perform Calculations
                            </button>
                        </div>
                        <div class="form-group inline-block-display" ng-show="showForestLossOpacitySlider">
                            <label for="forest-loss-opacity-slider">Opacity </label>
                            <input name="forest-loss-opacity-slider" id="forest-loss-opacity-slider"
                                   data-slider-id="forest-loss-opacity-slider" type="text"
                                   data-slider-min="0"
                                   data-slider-max="1"
                                   data-slider-step="0.1" />
                        </div>
                    </li>
                    <li><a href="#">Forest Change </a>
                        <div class="text-center">
                            <span>From </span>
                            <div class="form-group inline-block-display">
                                <select name="forest-change-start-year" class="form-control"
                                        ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestChangeStartYear">
                                </select>
                            </div>
                            <span> To </span>
                            <div class="form-group inline-block-display">
                                <select name="forest-change-end-year" class="form-control"
                                        ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2016" ng-model="forestChangeEndYear">
                                </select>
                            </div>
                        </span>
                        <div class="text-center">
                            <button type="button" class="btn btn-success" ng-click="calculateForestChange(forestChangeStartYear, forestChangeEndYear)">
                                Perform Calculations
                            </button>
                        </div>
                        <div class="form-group inline-block-display" ng-show="showForestChangeOpacitySlider">
                            <label for="forest-change-opacity-slider">Opacity </label>
                            <input name="forest-change-opacity-slider" id="forest-change-opacity-slider"
                                   data-slider-id="forest-change-opacity-slider" type="text"
                                   data-slider-min="0"
                                   data-slider-max="1"
                                   data-slider-step="0.1" />
                        </div>
                    </li>
                </ul>

                <li data-toggle="collapse" data-target="#landUse" class="collapsed">
                    <a href="#">
                        <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Forest Land Use <span class="sidebar-arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="landUse">
                    <li><a href="#">Primary Forest</a></li>
                    <li><a href="#">Plantations</a></li>
                </ul>

            </ul>
    </div>
</div>
