<div class="tab-tool" ng-show="showTabContainer">
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="true">
        <div class="btn-group" role="group">
            <button type="button" id="area" class="btn btn-primary js-tooltip" href="#area-tab" data-toggle="tab" title="Define Reporting Area">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="report" class="btn btn-default js-tooltip" href="#report-tab" data-toggle="tab" title="Reports">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <div class="well tab-tool-content">
        <div class="tab-content">

            <div class="tab-pane fade active in" id="area-tab">
                <div class="btn-pref-inner btn-group btn-group-justified btn-group-lg" role="group" aria-label="true">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary js-tooltip" href="#draw-tab" data-toggle="tab" title="Draw Polygon, Circle or Rectangle or upload shpaefile/kml">
                            <div class="hidden-xs">Draw or <br/>Upload Area</div>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default js-tooltip" href="#admin-tab" data-toggle="tab" title="Select From Countries Administrative Layers">
                            <div class="hidden-xs">Administrative <br/> Region</div>
                        </button>
                    </div>
                </div>
                <div class="tab-content inner-tab">
                    <!-- Inner Tab -->
                    <div class="tab-pane fade active in" id="draw-tab">
                        <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="drawShape('polygon')">
                                Draw Polygon
                            </button>
                        <p class="-center">or</p>
                        <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="drawShape('circle')">
                                Draw Circle
                            </button>
                        <p class="-center">or</p>
                        <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="drawShape('rectangle')">
                                Draw Rectangle
                            </button>
                        <p class="-center">or</p>
                        <label class="btn btn-primary btn-sm btn-block" id="file-input-container">
                                Upload Area
                                <!-- ToDo: Better info window -->
                                <br/>
                                <h6>(accepts kml, kmz and geojson)</h6>
                                <input type="file" class="hide" id="file-input"
                                       accept=".kml,.kmz,.json,.geojson,application/json,application/vnd.google-earth.kml+xml,application/vnd.google-earth.kmz">
                            </label>
                    </div>
                    <div class="tab-pane fade in" id="admin-tab">
                        <div class="form-group">
                            <label for="area-index-filter">Provinces</label>
                            <select name="area-index-filter" class="form-control" ng-options="option for option in provinceVariableOptions" ng-model="areaName" ng-change="loadAreaFromFile(areaName)">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="report-tab">
                <h3>Information will be updated soon!</h3>
            </div>
        </div>
    </div>

</div>
