{% load staticfiles %}

{% include "fms-user-info.html" %}

<div id="sidenav-forest-class" class="sidenav sidenav-right">

  <div class="sideanv-content">
    <span class="closebtn" id="sidenav-landcover-close">&times;</span>
    <label><b>FOREST DEFINITION</b></label>
    <div class="form-group">
      <label for="treeCanopyDefinition">
        <h5>Tree canopy greater than (%)</h5>
      </label>
      <input type="number" class="form-control-forest custom-form" id="treeCanopyDefinition" min="10" max="100" step="1" ng-init="treeCanopyDefinition=10" ng-model="treeCanopyDefinition">
    </div>
    <div class="form-group">
      <label for="treeHeightDefinition">
        <h5>Tree height greater than (m.)</h5>
      </label>
      <input type="number" class="form-control-forest custom-form" id="treeHeightDefinition" min="5" step="1" ng-init="treeHeightDefinition=5" ng-model="treeHeightDefinition">
    </div>
    <hr>
    <div class="" id="forest-extent-panel">
      <label><b>FOREST EXTENT</b></label>
      <div class="toggles-list toggle">
        <label class="switch_layer">
          <input id="treeCanopySwitch" name="treeCanopySwitch"  type="checkbox" checked>
          <span class="slider_toggle round"></span>
        </label>
        <label>Tree Canopy Cover</label>
      </div>
      <select name="year-filter" class="form-control-forest" id="year-filter" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2018" ng-model="treeCanopyYear" ng-change="treeCanopyYearChange(treeCanopyYear)">
      </select>

      <div ng-show="showTreeCanopyOpacitySlider" class="opacity-slider">
        <p>Opacity:</p>
        <input type="range" min="1" max="100" value="100" class="slider" id="tree-canopy-opacity-slider" style="width: 100%;">
        <span>0%</span><span style="float:right;">100%</span>
      </div>

      <div class="form-group text-center" ng-show="showTreeCanopyDownloadButtons">
        <div ng-switch="showEmailID" class="btn-group" role="group">
          <button type="button" class="btn btn-success btn-custom-sm" href="" data-toggle="modal" id="treeCanopyButton"
          data-download-button="getURL" data-download-year=[[treeCanopyYear]]
          ng-click="getDownloadURL('treeCanopy', treeCanopyYear)">
          Get Download URL
        </button>
        <button type="button" class="btn btn-info btn-custom-sm" ng-switch-when="true" ng-click="showGDriveFileName('treeCanopy', treeCanopyYear)">
          Download to GDrive
        </button>
        <button type="button" class="btn btn-info btn-custom-sm" disabled="disabled" ng-switch-default ng-click="showGDriveFileName('treeCanopy', treeCanopyYear)">
          Download to GDrive
        </button>
      </div>
    </div>
    <div class="input-group" ng-show="showTreeCanopyDownloadURL" style="margin: 10px;">
      <input type="text" class="form-control-forest" value="[[treeCanopyDownloadURL]]">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default treeCanopyCpyBtn js-tooltip"
        data-toggle="tooltip" data-placement="bottom"
        title="Copy to clipboard"
        ng-click="copyToClipBoard('treeCanopy')"
        style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
        <!-- icon from google's material design library -->
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
          <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg>
      </button>
    </span>
  </div>
  <div class="input-group" ng-show="showTreeCanopyGDriveFileName" style="margin: 10px;">
    <input type="text" id="treeCanopyGDriveFileName" placeholder="Enter Filename!" class="form-control-forest">
    <span class="input-group-btn">
      <button type="button"
      ng-click="saveToDrive('treeCanopy', treeCanopyYear)"
      class="btn btn-primary"
      style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
      Start Download
    </button>
  </span>
</div>



<div class="toggles-list toggle">
  <label class="switch_layer">
    <input id="treeHeightSwitch" name="treeHeightSwitch"  type="checkbox" checked>
    <span class="slider_toggle round"></span>
  </label>
  <label>Tree Canopy Height</label>
</div>
<select name="year-filter" class="form-control-forest" id="year-filter" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2018" ng-model="treeHeightYear" ng-change="treeHeightYearChange(treeHeightYear)">
</select>

<div ng-show="showTreeHeightOpacitySlider" class="opacity-slider">
  <p>Opacity:</p>
  <input type="range" min="1" max="100" value="100" class="slider" id="tree-height-opacity-slider" style="width: 100%;">
  <span>0%</span><span style="float:right;">100%</span>
</div>

<div class="form-group text-center" ng-show="showTreeHeightDownloadButtons">
  <div ng-switch="showEmailID" class="btn-group" role="group">
    <button type="button" class="btn btn-success btn-custom-sm" id="treeHeightButton" href="" data-toggle="modal"
    data-download-button="getURL" data-download-year=[[treeHeightYear]]
    ng-click="getDownloadURL('treeHeight', treeHeightYear)">
    Get Download URL
  </button>
  <button type="button" class="btn btn-info  btn-custom-sm" ng-switch-when="true" href="" ng-click="showGDriveFileName('treeHeight', treeHeightYear)">
    Download to GDrive
  </button>
  <button type="button" class="btn btn-info  btn-custom-sm" disabled="disabled" ng-switch-default href="" ng-click="showGDriveFileName('treeHeight', treeHeightYear)">
    Download to GDrive
  </button>
</div>
</div>
<div class="input-group" ng-show="showTreeHeightDownloadURL" style="margin: 10px;">
  <input type="text" class="form-control-forest" value="[[treeHeightDownloadURL]]">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default treeHeightCpyBtn js-tooltip"
    data-toggle="tooltip" data-placement="bottom"
    title="Copy to clipboard"
    ng-click="copyToClipBoard('treeHeight')"
    style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
    <!-- icon from google's material design library -->
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
      <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
    </svg>
  </button>
</span>
</div>
<div class="input-group" ng-show="showTreeHeightGDriveFileName" style="margin: 10px;">
  <input type="text" id="treeHeightGDriveFileName" placeholder="Enter Filename!" class="form-control-forest">
  <span class="input-group-btn">
    <button type="button"
    ng-click="saveToDrive('treeHeight', treeHeightYear)"
    class="btn btn-primary"
    style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
    Start Download
  </button>
</span>
</div>


<div class="toggles-list toggle">
  <label class="switch_layer">
    <input id="forestExtendSwitch" name="forestExtendSwitch" type="checkbox" checked>
    <span class="slider_toggle round"></span>
  </label>
  <label>Annual Forest Extend</label>
</div>
<select name="year-filter" class="form-control-forest" id="year-filter" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2018" ng-model="forestExtendYear" ng-change="calculateForestExtend(forestExtendYear)">
</select>

<div ng-show="showForestExtendOpacitySlider" class="opacity-slider">
  <p>Opacity:</p>
  <input type="range" min="1" max="100" value="100" class="slider" id="forest-extend-opacity-slider" style="width: 100%;">
  <span>0%</span><span style="float:right;">100%</span>
</div>

<div class="form-group text-center" ng-show="showForestExtendDownloadButtons">
  <div ng-switch="showEmailID" class="btn-group" role="group">
    <button type="button" id="forestExtendButton" class="btn btn-success btn-custom-sm" href="" data-toggle="modal"
    data-download-button="getURL" data-download-year=[[forestExtendYear]]
    ng-click="getDownloadURL('forestExtend', forestExtendYear)">
    Get Download URL
  </button>
  <button type="button" class="btn btn-info btn-custom-sm" ng-switch-when="true" href="" ng-click="showGDriveFileName('forestExtend', forestExtendYear)">
    Download to GDrive
  </button>
  <button type="button" class="btn btn-info btn-custom-sm" disabled="disabled" ng-switch-default href="" ng-click="showGDriveFileName('forestExtend', forestExtendYear)">
    Download to GDrive
  </button>
</div>
</div>
<div class="input-group" ng-show="showForestExtendDownloadURL" style="margin: 10px;">
  <input type="text" class="form-control-forest" value="[[forestExtendDownloadURL]]">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default forestExtendCpyBtn js-tooltip"
    data-toggle="tooltip" data-placement="bottom"
    title="Copy to clipboard"
    ng-click="copyToClipBoard('forestExtend')"
    style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
    <!-- icon from google's material design library -->
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
      <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
    </svg>
  </button>
</span>
</div>
<div class="input-group" ng-show="showForestExtendGDriveFileName" style="margin: 10px;">
  <input type="text" id="forestExtendGDriveFileName" placeholder="Enter Filename!" class="form-control-forest">
  <span class="input-group-btn">
    <button type="button"
    ng-click="saveToDrive('forestExtend', forestExtendYear)"
    class="btn btn-primary"
    style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
    Start Download
  </button>
</span>
</div>
</div>

<div id="primary-forest-panel">
  <label><b>PRIMARY FOREST</b></label>

  <div class="toggles-list toggle">
    <label class="switch_layer">
      <input id="primaryForestSwitch" name="primaryForestSwitch"  type="checkbox" checked>
      <span class="slider_toggle round"></span>
    </label>
    <label>Primary Forest</label>
  </div>
  <select name="year-filter" class="form-control-forest" id="year-filter" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2018" ng-model="primaryForestYear" ng-change="primaryForestYearChange(primaryForestYear)">
  </select>

  <div ng-show="showPrimaryForestOpacitySlider" class="opacity-slider">
    <p>Opacity:</p>
    <input type="range" min="1" max="100" value="100" class="slider" id="primary-forest-opacity-slider" style="width: 100%;">
    <span>0%</span><span style="float:right;">100%</span>
  </div>

  <div class="form-group text-center" ng-show="showPrimaryForestDownloadButtons">
    <div ng-switch="showEmailID" class="btn-group" role="group">
      <button type="button" class="btn btn-success btn-custom-sm" id="primaryForestButton" href="" data-toggle="modal"
      data-download-button="getURL" data-download-year=[[primaryForestYear]]
      ng-click="getDownloadURL('primaryForest', primaryForestYear)">
      Get Download URL
    </button>
    <button type="button" class="btn btn-info btn-custom-sm" ng-switch-when="true" href="" ng-click="showGDriveFileName('primaryForest', primaryForestYear)">
      Download to GDrive
    </button>
    <button type="button" class="btn btn-info btn-custom-sm" disabled="disabled" ng-switch-default href="" ng-click="showGDriveFileName('primaryForest', primaryForestYear)">
      Download to GDrive
    </button>
  </div>
</div>
<div class="input-group" ng-show="showPrimaryForestDownloadURL" style="margin: 10px;">
  <input type="text" class="form-control-forest" value="[[primaryForestDownloadURL]]">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default primaryForestCpyBtn js-tooltip"
    data-toggle="tooltip" data-placement="bottom"
    title="Copy to clipboard"
    ng-click="copyToClipBoard('primaryForest')"
    style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
    <!-- icon from google's material design library -->
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
      <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
    </svg>
  </button>
</span>
</div>
<div class="input-group" ng-show="showPrimaryForestGDriveFileName" style="margin: 10px;">
  <input type="text" id="primaryForestGDriveFileName" placeholder="Enter Filename!" class="form-control-forest">
  <span class="input-group-btn">
    <button type="button"
    ng-click="saveToDrive('primaryForest', primaryForestYear)"
    class="btn btn-primary"
    style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
    Start Download
  </button>
</span>
</div>


</div>
<div id="forest-dynamics-panel">
  <label><b>FOREST DYNAMICS</b></label>

  <div class="toggles-list toggle">
    <label class="switch_layer">
      <input id="forestGainSwitch" name="forestGainSwitch"  type="checkbox" checked>
      <span class="slider_toggle round"></span>
    </label>
    <label>Forest Gain</label>
  </div>

  <div ng-show="showForestGainOpacitySlider" class="opacity-slider">
    <p>Opacity:</p>
    <input type="range" min="1" max="100" value="100" class="slider" id="forest-gain-opacity-slider" style="width: 100%;">
    <span>0%</span><span style="float:right;">100%</span>
  </div>

  <div>
    <span style="font-size:12px;">From </span>
    <div class="form-group inline-block-display">
      <select name="forest-gain-start-year" class="form-control-forest" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2018" ng-model="forestGainStartYear">
      </select>
    </div>
    <span style="font-size:12px;"> To </span>
    <div class="form-group inline-block-display">
      <select name="forest-gain-end-year" class="form-control-forest" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2018" ng-model="forestGainEndYear">
      </select>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-success btn-custom-md" ng-click="calculateForestGain(forestGainStartYear, forestGainEndYear)">
      Perform Calculations
    </button>
  </div>

  <div class="form-group text-center" ng-show="showForestGainDownloadButtons">
    <div ng-switch="showEmailID" class="btn-group" role="group">
      <button type="button" class="btn btn-success btn-custom-sm" id="forestGainButton" href="" data-toggle="modal"
      data-download-button="getURL" data-download-year-start=[[forestGainStartYear]] data-download-year-end=[[forestGainEndYear]]
      ng-click="getDownloadURL('forestGain', forestGainStartYear, forestGainEndYear, true)">
      Get Download URL
    </button>
    <button type="button" class="btn btn-info btn-custom-sm" ng-switch-when="true" href="" ng-click="showGDriveFileName('forestGain', forestGainStartYear, forestGainEndYear, true)">
      Download to GDrive
    </button>
    <button type="button" class="btn btn-info btn-custom-sm" disabled="disabled" ng-switch-default href="" ng-click="showGDriveFileName('forestGain', forestGainStartYear, forestGainEndYear, true)">
      Download to GDrive
    </button>
  </div>
</div>
<div class="input-group" ng-show="showForestGainDownloadURL" style="margin: 10px;">
  <input type="text" class="form-control-forest" value="[[forestGainDownloadURL]]">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default forestGainCpyBtn js-tooltip"
    data-toggle="tooltip" data-placement="bottom"
    title="Copy to clipboard"
    ng-click="copyToClipBoard('forestGain')"
    style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
    <!-- icon from google's material design library -->
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
      <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
    </svg>
  </button>
</span>
</div>
<div class="input-group" ng-show="showForestGainGDriveFileName" style="margin: 10px;">
  <input type="text" id="forestGainGDriveFileName" placeholder="Enter Filename!" class="form-control-forest">
  <span class="input-group-btn">
    <button type="button"
    ng-click="saveToDrive('forestGain', forestGainStartYear, forestGainEndYear, true)"
    class="btn btn-primary"
    style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
    Start Download
  </button>
</span>
</div>

<div class="toggles-list toggle">
  <label class="switch_layer">
    <input id="forestLossSwitch" name="forestLossSwitch"  type="checkbox" checked>
    <span class="slider_toggle round"></span>
  </label>
  <label>Forest Loss</label>
</div>

<div ng-show="showForestLossOpacitySlider" class="opacity-slider">
  <p>Opacity:</p>
  <input type="range" min="1" max="100" value="100" class="slider" id="forest-loss-opacity-slider" style="width: 100%;">
  <span>0%</span><span style="float:right;">100%</span>
</div>

<div>
  <span>From </span>
  <div class="form-group inline-block-display">
    <select name="forest-loss-start-year" class="form-control-forest" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2018" ng-model="forestLossStartYear">
    </select>
  </div>
  <span> To </span>
  <div class="form-group inline-block-display">
    <select name="forest-loss-end-year" class="form-control-forest" ng-options="option for option in [] | treeCanopyHeightYearRange:2000:2018" ng-model="forestLossEndYear">
    </select>
  </div>
</div>
<div class="text-center">
  <button type="button" class="btn btn-success btn-custom-md" ng-click="calculateForestLoss(forestLossStartYear, forestLossEndYear)">
    Perform Calculations
  </button>
</div>

<div class="form-group text-center" ng-show="showForestLossDownloadButtons">
  <div ng-switch="showEmailID" class="btn-group" role="group">
    <button type="button" class="btn btn-success btn-custom-sm" id="forestLossButton" href="" data-toggle="modal"
    data-download-button="getURL" data-download-year-start=[[forestLossStartYear]] data-download-year-end=[[forestLossEndYear]]
    ng-click="getDownloadURL('forestLoss', forestLossStartYear, forestLossEndYear, true)">
    Get Download URL
  </button>
  <button type="button" class="btn btn-info btn-custom-sm" ng-switch-when="true" href="" ng-click="showGDriveFileName('forestLoss', forestLossStartYear, forestLossEndYear, true)">
    Download to GDrive
  </button>
  <button type="button" class="btn btn-info btn-custom-sm" disabled="disabled" ng-switch-default href="" ng-click="showGDriveFileName('forestLoss', forestLossStartYear, forestLossEndYear, true)">
    Download to GDrive
  </button>
</div>
</div>
<div class="input-group" ng-show="showForestLossDownloadURL" style="margin: 10px;">
  <input type="text" class="form-control-forest" value="[[forestLossDownloadURL]]">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default forestLossCpyBtn js-tooltip"
    data-toggle="tooltip" data-placement="bottom"
    title="Copy to clipboard"
    ng-click="copyToClipBoard('forestLoss')"
    style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
    <!-- icon from google's material design library -->
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
      <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
    </svg>
  </button>
</span>
</div>
<div class="input-group" ng-show="showForestLossGDriveFileName" style="margin: 10px;">
  <input type="text" id="forestLossGDriveFileName" placeholder="Enter Filename!" class="form-control-forest">
  <span class="input-group-btn">
    <button type="button"
    ng-click="saveToDrive('forestLoss', forestLossStartYear, forestLossEndYear, true)"
    class="btn btn-primary"
    style="height: 20px;margin-bottom: 10px;padding: 1px 10px;background: #333;">
    Start Download
  </button>
</span>
</div>
</div>

</div>

</div>
