<!-- Land Cover Assemblage Tab -->
<div class="tab-pane fade active in" id="land-cover-classes-tab">
    <div class="row">

        {% if version1 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>The Map and the product shows the preliminary result!</strong>
        </div>
        {% endif %}
    </div>

    {% if not version1 %}
    <fieldset class="row lcp-class-container">
        <a class="btn btn-primary btn-sm btn-block" href="/landcover/v1/" role="button" target="_blank" style="margin-bottom: 10px;">
            View Version 1 Products
        </a>
    </fieldset>
    {% endif %}

    {% if version1 %}
    <fieldset class="row lcp-class-container">
        <a class="btn btn-primary btn-sm btn-block" href="/side-by-side-map/v1/" role="button" target="_blank" style="margin-bottom: 10px;">
            Compare Landcover of different years
        </a>
    </fieldset>
    {% else %}
    <fieldset class="row lcp-class-container">
        <a class="btn btn-primary btn-sm btn-block" href="/side-by-side-map/" role="button" target="_blank" style="margin-bottom: 10px;">
            Compare Landcover of different years
        </a>
    </fieldset>
    {% endif %}

    {% if not version1 %}
    <fieldset class="row lcp-class-container" id="probability-map-container">
        <label class="custom-checkbox-container">Show Probability Map
            <input type="checkbox" id="probability-map-checkbox" checked="checked" ng-click="toggleProbabilityMap()">
            <span class="custom-checkbox-checkmark"></span>
        </label>
        <div class="form-group col-md-12" ng-show="showProbabilityOpacityController">
            <label for="probability-opacity-slider">Proability Map Opacity</label>
            <input name="probability-opacity-slider" id="probability-opacity-slider" data-slider-id="probability-opacity-slider" type="text" style="width: 100%;" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" />
        </div>
    </fieldset>
    {% endif %}

    <fieldset class="row lcp-class-container">
        <!-- Download button -->
        <div class="btn-group btn-block">
            <button type="button" class="btn col-md-11 btn-sm btn-primary">Download Data/Typology</button>
            <button type="button" class="btn col-md-1 btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu col-md-12">

                {% if version1 %}
                <li><a href="#" ng-click="getDownloadURL({v1: true})" style="color: black;">Get Download Link</a></li>
                {% else %}
                <li><a href="#" ng-click="getDownloadURL({v1: false})" style="color: black;">Get Download Link</a></li>
                {% endif %}

                <li><a href="#" ng-click="showGDriveFileName()" style="color: black;">To your Google Drive!</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" target="_self" ng-href="[[ typologyCSV ]]" style="color: black;">Download Typology Values (CSV)</a></li>
            </ul>
        </div>

        <!-- Start -->
        <div class="input-group" ng-show="showLandcoverDownloadURL" style="top: 15px;">
            <input type="text" class="form-control" value="[[landcoverDownloadURL]]">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default landcoverCpyBtn js-tooltip"
                        data-toggle="tooltip" data-placement="bottom"
                        title="Copy to clipboard"
                        ng-click="copyToClipBoard('landcover')"
                        style="height: 34px;margin-bottom: 14px;">
                    <!-- icon from google's material design library -->
                    <svg class="clipboard-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                </button>
            </span>
        </div>
        <div class="input-group" ng-show="showLandcoverGDriveFileName" style="top: 15px;">
            <input type="text" id="landcoverGDriveFileName" placeholder="Enter Filename!" class="form-control">
            <span class="input-group-btn">

                {% if version1 %}
                <button type="button"
                        ng-click="saveToDrive({v1: true})"
                        class="btn btn-primary"
                        style="height: 34px;margin-bottom: 14px;">
                    Start Download
                </button>
                {% else %}
                <button type="button"
                        ng-click="saveToDrive({v1: false})"
                        class="btn btn-primary"
                        style="height: 34px;margin-bottom: 14px;">
                    Start Download
                </button>
                {% endif %}
            </span>
        </div>
        <!-- End -->

    </fieldset>

    <fieldset class="row lcp-class-container" ng-show="showLandcoverOpacitySlider">
        <div class="form-group col-md-12">
            <label for="landcover-opacity-slider">Landcover Map Opacity</label>
            <input name="landcover-opacity-slider" id="landcover-opacity-slider" data-slider-id="landcover-opacity-slider" type="text" style="width: 100%;" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" />
        </div>
    </fieldset>

    <fieldset class="row lcp-class-container">
        <p style="color: black;">Change the assemblage by turning on/off the layers and updating the map!</p>

        {% if version1 %}
        <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="updateAssemblageProduct(true)" style="margin-bottom: 10px;">
            Update Map
        </button>
        {% else %}
        <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="updateAssemblageProduct(false)" style="margin-bottom: 10px;">
            Update Map
        </button>
        {% endif %}

    </fieldset>

    <div ng-repeat="class in landCoverClasses" class="row lcp-class-container">
        <div class="col-md-5 lcp-class-color" style="background: [[ class.color ]]"></div>
        <div class="col-md-5">
            <h5><b>[[ class.name ]]</b></h5>
        </div>
        <label class="switch">
            <input type="checkbox" value="[[ class.value ]]" name="assemblage-checkbox" checked>
            <span class="switch-slider round"></span>
        </label>
    </div>
</div>
<!-- End of Land Cover Assemblage Tab -->
