<div class="nav-side-menu">
    <!-- Tab Container -->
    <div id="sidebar-tab">
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="true">
            <div class="btn-group" role="group">
                <button type="button" id="area" class="btn btn-primary js-tooltip" href="#land-cover-classes-tab" data-toggle="tab" title="View Land Cover Classes" data-placement="bottom">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    <div class="hidden-xs">Land Cover Map</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="report" class="btn btn-default js-tooltip" href="#primitive-tab" data-toggle="tab" title="View Primitives" data-placement="bottom">
                    <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                    <div class="hidden-xs">Primitives</div>
                </button>
            </div>
        </div>

        <div class="well tab-tool-content">
            <div class="tab-content">

                {% include "panels/side-panel-land-cover-map-tab.html" %}
                {% include "panels/side-panel-primitive-map-tab.html" %}

            </div>
            <!-- End of Tab Content -->
        </div>

    </div>
    <!-- end of tab -->
</div>
