<!-- Land Cover Assemblage Tab -->
<div class="tab-pane fade active in" id="land-cover-classes-tab">
    <div class="row">
        {% if version1 %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>This is the version 1 product!</strong>
        </div>
        {% elif version2 %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>This is the version 2 product!</strong>
        </div>
        {% endif %}
    </div>

    {% if not version1 and not version2 %}
    <fieldset class="row lcp-class-container">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a class="btn btn-primary btn-sm" style="font-size:14px;" href="/landcover/v1/" role="button" target="_blank" style="margin-bottom: 10px;">
                View Version 1
            </a>
            <a class="btn btn-primary btn-sm" style="font-size:14px;" href="/landcover/v2/" role="button" target="_blank" style="margin-bottom: 10px;">
                View Version 2
            </a>
        </div>
    </fieldset>
    {% endif %}

    {% if version1 %}
    <fieldset class="row lcp-class-container">
        <a class="btn btn-sm btn-block" style="font-size: 16px;" href="/landcover/v1/analysis/" role="button" target="_blank" style="margin-bottom: 10px;">
            <i class="fas fa-chart-line fa-custom"></i> Stats and Analysis
        </a>
    </fieldset>
    {% elif version2 %}
    <fieldset class="row lcp-class-container">
            <a class="btn btn-green btn-sm btn-block" style="font-size: 16px;" href="/landcover/v2/analysis/" role="button" target="_blank" style="margin-bottom: 10px;">
                <i class="fas fa-chart-line fa-custom"></i> Stats and Analysis
            </a>
        </fieldset>
    {% else %}
    <fieldset class="row lcp-class-container">
        <a class="btn btn-green btn-sm btn-block"  style="font-size: 16px;" href="/landcover/analysis/" role="button" target="_blank" style="margin-bottom: 10px;">
            <i class="fas fa-chart-line fa-custom"></i> Stats and Analysis
        </a>
    </fieldset>
    {% endif %}

    <fieldset class="row lcp-class-container">
        <!-- Download button -->
        <div class="btn-group btn-block">
            <button type="button" class="btn col-md-11 btn-sm btn-green" style="font-size: 16px;"><i class="fas fa-download fa-custom"></i> Download Data/Typology</button>
            <button type="button" class="btn col-md-1 btn-sm btn-green dropdown-toggle" style="font-size: 19px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu col-md-12">

                {% if version1 %}
                <li><a href="#" ng-click="getDownloadURL({version: 'v1'})" style="color: black;">Get Download Link</a></li>
                {% elif version2 %}
                <li><a href="#" ng-click="getDownloadURL({version: 'v2'})" style="color: black;">Get Download Link</a></li>
                {% else %}
                <li><a href="#" ng-click="getDownloadURL({version: 'v3'})" style="color: black;">Get Download Link</a></li>
                {% endif %}

                <li><a href="#" ng-click="showGDriveFileName()" style="color: black;">To your Google Drive!</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" target="_self" ng-href="[[ typologyCSV ]]" style="color: black;">Download Typology Values (CSV)</a></li>
            </ul>
        </div>

        <!-- Start -->

        
        <!-- End -->

    </fieldset>


    <fieldset class="row lcp-class-container">
        <h4 style="font-weight:700; text-align: center;">Landcover Map</h4>
        <p style="color: #333;">Change the assemblage by turning on/off the layers and updating the map!</p>

        {% if version1 %}
        <button type="button" class="btn btn-primary btn-sm btn-block" style="font-size: 16px;" ng-click="updateAssemblageProduct('v1')" style="margin-bottom: 10px;">
            <i class="fas fa-sync-alt"></i> Update Map
        </button>
        {% elif version2 %}
        <button type="button" class="btn btn-primary btn-sm btn-block" style="font-size: 16px;" ng-click="updateAssemblageProduct('v2')" style="margin-bottom: 10px;">
            <i class="fas fa-sync-alt"></i> Update Map
        </button>
        {% else %}
        <button type="button" class="btn btn-primary btn-sm btn-block" style="font-size: 16px;" ng-click="updateAssemblageProduct('v3')" style="margin-bottom: 10px;">
            <i class="fas fa-sync-alt"></i> Update Map
        </button>
        {% endif %}
    </fieldset>

    <div ng-repeat="class in landCoverClasses">
        <div ng-if="class.caret">
            <div class="caret-container">
                <div class="row lc-color-container">
                    <span class="col-md-1 tree-caret pull-left" style="margin-top: 0.5em; margin-left: 5px;" ng-click="treeCaretClick()"></span>
                    <div class="col-md-2">
                      <div class="lcp-class-color" style="background: [[ class.color ]]"></div>
                    </div>
                    <div class="col-md-4">
                        <p>[[ class.name ]]</p>
                    </div>
                    <div class="col-md-2" style="margin-top: 10px; margin-bottom: 10px;">
                      <label class="custom-checkbox-container nested-checkbox">
                          <input type="checkbox" value="[[ class.value ]]" name="assemblage-checkbox" checked>
                          <span class="custom-checkbox-checkmark"></span>
                      </label>
                    </div>
                </div>

                <div ng-repeat="_class in landCoverClasses">
                    <div class="nested" style="margin-left: 2.0em;">
                        <div ng-if="_class.nestedUnder == class.value">
                            <div class="row lc-color-container">
                              <div class="col-md-2">
                                <div class="lcp-class-color" style="background: [[ _class.color ]]"></div>
                              </div>
                                <div class="col-md-5">
                                    <p>[[ _class.name ]]</p>
                                </div>
                                <div class="col-md-2" style="margin-top: 10px; margin-bottom: 10px;">
                                  <label class="custom-checkbox-container">
                                      <input type="checkbox" value="[[ _class.value ]]" name="assemblage-checkbox" checked>
                                      <span class="custom-checkbox-checkmark"></span>
                                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!class.caret && !class.nestedUnder">
            <div class="row lc-color-container">
              <div class="col-md-2">
                <div class="lcp-class-color" style="background: [[ class.color ]]"></div>
              </div>
                <div class="col-md-5">
                    <p>[[ class.name ]]</p>
                </div>
                <div class="col-md-2" style="margin-top: 10px; margin-bottom: 10px;">
                  <label class="custom-checkbox-container nested-checkbox">
                      <input type="checkbox" value="[[ class.value ]]" name="assemblage-checkbox" checked>
                      <span class="custom-checkbox-checkmark"></span>
                  </label>
                </div>
            </div>
        </div>

    </div>


</div>
<!-- End of Land Cover Assemblage Tab -->
