{% extends 'base.html'%}
<html>
  <head>
    {% block head%}
    <title>RLCMS | About</title>
    {% endblock %}
  </head>
  <body>
    {% block body%}
    <!-- ======= Hero Section ======= -->
    <section id="branding" class="image">
      <div class="overlay">
        <div class="">
          <h2 class="animated fadeInDown">About</h2>
        </div>
      </div>
    </section><!-- End Hero -->

    <section class="section-menu-about">
      <div class="container">
        <div class="row justify-content-center">
          <ul id="about-nav">
            <li class="active" id="li-about1">About RLCMS</li>
            <li id="li-about2">Co-development</li>
            <li id="li-about4">Our Partners</li>
            <li id="li-about5">Portal User Guide and Manual</li>
            <li id="li-about6">Impact</li>
            <li id="li-about7">Contact Us</li>
          </ul>
        </div>
      </div>
    </section><!-- End Hero -->

    <main id="main">
      <div class="container" ng-controller="AboutController">
        <div class="col-lg-12">
          <div class="row margin-top">
            <div class="col-lg-12 col-md-6" id="about-1">
              <div class="about-title" style="text-align: justify;">
                <h1>About RLCMS</h1>
                <p>
                  Monitoring land cover and land use change by providing accurate and timely land cover maps and information, plays a critical role in multiple sectors in the developing world including agricultural planning and food security, carbon accounting, water management and natural resource management.
                  However, many developing countries, including those within the Lower Mekong region, lack the coordinated capacity to produce timely, and temporally comparable geospatial data products sufficient to meet their management needs.
                </p>
                <br>
                <p>
                  The Regional Land Cover Monitoring System (RLCMS) was developed by SERVIR-Mekong with the support of the U.S. Forest Service, NASA Applied Science Program, Google, the University of Maryland and governments of countries in the Mekong region. The system utilizes satellite technology to facilitate the production of customized, high-quality regional land cover maps at a 30-m resolution for each year from 2000 to present, in addition to complimentary land cover information. Using publicly available global satellite data, such as Landsat and MODIS, makes the system easily transferable. The adaptable system framework allows for a customized service that is able to map different land cover typologies based on ongoing user needs and bespoke landscape monitoring objectives.
                </p>
                <br>
                <div class="text-center">
                  <img src="/static/images/about/RLCMS_Diagram_cycle.png" class="img-fluid" alt="RLCMS" width="60%;">
                </div>

                <br>
                <!-- <p>
                  SERVIR-Mekong is a joint initiative of the U.S. Agency for International Development (USAID) and the U.S. National Aeronautics and Space Administration (NASA), implemented by the Geospatial Information Department of Asian Disaster Preparedness Center (ADPC). It makes use of publicly available satellite imagery and technologies to address challenges related to water resources, disasters, climate resilience, agriculture and ecosystems in the Lower Mekong.
                </p> -->
                <br>
              </div>
            </div>
            <div class="col-lg-12 col-md-6" id="about-2">
              <div class="about-title">
                <h1>Co-development/System Development</h1>
                <p>SERVIR’s unique service approach connects scientists and decision-makers to collaborate on finding sustainable solutions to ongoing development challenges.
                  This approach supports scalable, needs-based technical collaborations.</p>
                <br>
                <div class="row">
                  <div class="col-lg-7">
                    <img src="/static/images/about/rlcms_architecture_diagram.png" class="img-fluid" alt="rlcms architecture diagram" width="100%;">
                  </div>
                  <div class="col-lg-5">
                    <p>The SERVIR service approach places great emphasis on:</p>
                    <ul style="list-style-type:circle">
                      <li>Identifying specific development problems together with local communities to guide researchers</li>
                      <li>Co-developing geospatial services with decision-makers and end-users together with international researchers and experts</li>
                      <li>Building capacity of partners to achieve sustainability</li>
                    </ul>
                  </div>
                </div>


              </div>
            </div>
            <div class="col-lg-12 col-md-6" id="about-4">
              <div class="about-title">
                <!-- <h1>Partners</h1> -->
                <div class="text-center">
                  <h2>The Land Cover Portal is an initiative of </h2>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 margin-top text-center">
                    <div class="partner-logo --servir-mekong">
                      <!-- <img src="/static/images/partners/servir-mekong.png" alt=""> -->
                    </div>
                    <p>SERVIR Mekong</p>
                    <a href="http://servir.adpc.net/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-6 col-md-6 margin-top text-center">
                    <div class="partner-logo --servir-himalaya">
                      <!-- <img src="/static/images/partners/servir-mekong.png" alt=""> -->
                    </div>
                    <p>SERVIR Hindu Kush Himalaya</p>
                    <a href="http://servir.icimod.org/" target="_blank">LEARN MORE</a>
                  </div>
                </div>
                <br>

                <div class="text-center">
                    <h2>Core Partners</h2>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --usaid">
                    </div>
                    <p>USAID</p>
                    <a href="https://www.usaid.gov/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --nasa">
                    </div>
                    <p>NASA</p>
                    <a href="https://www.nasa.gov/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --adpc">
                    </div>
                    <p>ADPC</p>
                    <a href="http://www.adpc.net/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --sig">
                    </div>
                    <p>Spatial Information Group</p>
                    <a href="https://sig-gis.com/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --sei">
                    </div>
                    <p>Stockolm Environment Institute</p>
                    <a href="https://www.sei-international.org/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --deltares">
                    </div>
                    <p>Deltares</p>
                    <a href="https://www.deltares.nl/en/" target="_blank">LEARN MORE</a>
                  </div>
                </div>
                <br>

                <div class="text-center">
                    <h2>Contributing Partners</h2>
                </div>
                <div class="test">

                </div>

                <div class="row">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --usfs">
                      </div>
                      <p>U.S. Forest Service</p>
                      <a href="https://www.fs.usda.gov/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --gtac">
                      </div>
                      <p>GTAC</p>
                      <a href="https://www.fs.fed.us/gstc/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --silvacarbon">
                      </div>
                      <p>SilvaCarbon</p>
                      <a href="https://egsc.usgs.gov/silvacarbon/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --fao">
                      </div>
                      <p>FAO</p>
                      <a href="http://www.fao.org/home/en/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --umd">
                      </div>
                      <p>University of Maryland</p>
                      <a href="https://www.umd.edu/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --glad">
                      </div>
                      <p>GLAD</p>
                      <a href="https://www.glad.umd.edu/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --usf">
                      </div>
                      <p>Geospatial Analysis Lab</p>
                      <a href="https://www.usfca.edu/arts-sciences/research/geospatial-analysis-lab" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --uah">
                      </div>
                      <p>UAH</p>
                      <a href="https://www.uah.edu/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --sepal">
                      </div>
                      <p>SEPAL</p>
                      <a href="http://www.openforis.org/tools/sepal.html" target="_blank">LEARN MORE</a>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-lg-12 col-md-6" id="about-5">
              <div class="about-title">
                <h1>Portal User Guide and Manual</h1>
                <a href="https://gdoc.pub/doc/e/2PACX-1vQWuDUyC3KO0GMrqxvP2uc_LvUgkCAnU-cAIqJx5G0A0h7V7UyNF3gEkXMjorwE059Y06DwpyJCVfcb" target="_blank">Click here to access an user guide and manual </a>

              </div>
            </div>

            <div class="col-lg-12 col-md-6" id="about-6">
              <div class="about-title">
                <h1>The Mekong Region - State of Land Report</h1>
                <ul style="list-style-type:circle">
                  <li>Across the Mekong Region, as well as on a global scale, the rate of land system change continues to increase rapidly. </li>
                  <li>SERVIR-Mekong, in collaboration with the Centre for Development and Environment and University of Bern, contributed to the online 2018 State of Land in the Mekong Region report.</li>
                  <li>The report presents the situation of the land in the Mekong Region including identification of key patterns and drivers of this marked change. </li>
                  <li>Using data from SERVIR-Mekong’s RLCMS enabled regional assessments and cross-country comparative analyses of land use and land cover change in the Mekong region, setting a baseline for future reporting of current conditions and land governance.</li>
                  <li>The report highlights the importance of data sharing and knowledge co-production in facilitating open dialogue and informed decision-making. In turn, it serves as a useful tool to improve land governance and tenure security, benefitting land-dependent people of the Mekong, such as smallholders, to support a more sustainable future.</li>
                </ul>
                <p>Download the report: </p>
                <a href="https://www.mrlg.org/wp-content/uploads/2019/07/Mekong-State-of-Land-May2019-with-New-map-MQ.pdf" target="_blank"> State of Land in the Mekong Region</a>

                <br>
                <hr>
                <h1>Regional Land and Forest Monitoring</h1>
                <p>The RLCMS provides a series of annual land cover maps with a multi-purpose typology, from the year 2000-present.</p>
                <br>
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="text-center">
                      <img src="/static/images/about/High-quality-or.png" class="img-fluid" alt="RLCMS" width="40%">
                      <p>High quality, 30-m resolution, regional land cover maps designed to meet</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="text-center">
                      <img src="/static/images/about/Annually-updated-or.png" class="img-fluid" alt="RLCMS" width="49%">
                      <p>Annually updated maps using open-source remote sensing data</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="text-center">
                      <img src="/static/images/about/Classification-theme-or.png" class="img-fluid" alt="RLCMS" width="40%">
                      <p>Consistent regional classification scheme which aligns with land cover typologies</p>
                    </div>
                  </div>
                </div>

                <br>
                <hr>
                <h1>Plantation Mapping in Myanmar</h1>
                <!-- <ul style="list-style-type:circle">
                  <li>Myanmar’s remaining intact forest landscapes are under threat due to an increase in agricultural land use and deforestation. SERVIR’s RLCMS was customized for plantation mapping of the Dawna Tenasserim Landscape in Myanmar, which is suffering from habitat degradation and fragmentation.</li>
                  <li>The online map interface shows areas of cropland, rubber and palm oil in the Dawna Tenasserim Landscape, for 2017 and 2018. This enables business opportunities for alternative timber sources to be identified, reducing the impacts on biodiversity and improving sustainable resource management.</li>
                </ul> -->
                <p>The Dawna Tenasserim Landscape covers Kayin and Mon States, and Tanintharyi Region in Myanmar. The area harbours one of the last large intact forest landscapes in the region, home to many ethnic groups, and a wide variety of endangered wildlife. The landscape is experiencing significant land cover change which is primarily driven by a rapid increase in agricultural land use and associated deforestation, notably for rubber and palm oil, road and infrastructure development, and logging. Rubber often replaces forested areas, leading to habitat degradation and a reduction in biodiversity.</p>
                <br>
                <p>To better understand resource availability for sustainable management, SERVIR-Mekong’s RLCMS was customized for plantation mapping of the landscape. The online Dawna Tenasserim plantation portal shows areas with cropland, rubber, and palm oil for 2017 and 2018. Remote Sens. 2019, 11(7), 831; <a href="https://doi.org/10.3390/rs11070831" target="_blank"> https://doi.org/10.3390/rs11070831</a> . This enables the identification of business opportunities for alternative timber, reducing the impacts on biodiversity, and improving sustainable resource management. Such information is vital for the development of sustainable natural resource supply chains, benefitting local stakeholders and their livelihoods as well as maintaining important ecosystem services and the national economy.</p>


                <br>
                <hr>
                <h1>Cambodia Protected Area Alerts System</h1>
                <!-- <ul style="list-style-type:circle">
                  <li>SERVIR-Mekong partnered with USAID Greening Prey Lang (GPL) to support the Ministry of Environment (MOE) in monitoring protected forest areas. Sentinel-1 (SAR) data will be used for near real-time detection and alerts of threats, such as deforestation.</li>
                  <li>The SERVIR-Mekong data will supplement ground-observations collected by the USAID GPL project and data uploaded by citizens. The platform will not only provide geospatial data, but also produce action-ready information including user-defined alert messages, customized reports and maps.</li>
                </ul> -->

                <p>Cambodia’s protected area system contributes positively to the country’s economy and sustainable development however, such areas are now under threat. The accelerated damage and deforestation seen in recent years is largely down to the increase in demand for agricultural land, fuel wood, non-timber forest products and infrastructure development. This problem, compounded by land governance challenges, requires timely information about changing conditions and threats on-the-ground.</p>
                <br>
                <p>Therefore, SERVIR-Mekong partnered with USAID Greening Prey Lang (GPL) to support Cambodia’s Ministry of Environment (MOE) in monitoring protected forest areas. Sentinel-1 (SAR) data will be used for near real-time detection and alerts of threats, such as deforestation. The SERVIR-Mekong data will supplement ground-observations collected by the USAID-GPL project and data uploaded by citizens. The platform will not only provide geospatial data, but also produce action-ready information including user-defined alert messages, customized reports and maps.</p>
                <br>
                <p>This system will strengthen governance and support law enforcement response to threats and illegal activities, assisting decision-makers in managing natural resources sustainably whilst conserving biodiversity. The resultant impact is that this will foster an environment centred around transparency and accountability to generate sustainable financial investment for biodiversity conservation schemes in Cambodia, protecting the livelihoods of people who are reliant on these protected areas. </p>

                <br>
                <hr>
                <h1>Dashboard for Monitoring and Evaluating Landscape Improvements in Cambodia</h1>
                <ul style="list-style-type:circle">
                  <li>Ensuring ecological stability and biological productivity over large areas is critical for landscape management and conservation policy. USAID/Cambodia along with other stakeholders, require insight and reports on the effectiveness of biodiversity and conservation-related project interventions during a project’s life cycle. To monitor and evaluate projects that target biophysical improvement and enhance biodiversity conservation on-the-ground, there needs to be updated information and a way to easily quantify changes.</li>
                  <li>In Cambodia, SERVIR-Mekong aims to focus on sustainable landscape monitoring and develop a decision-support tool which is user friendly and provides accurate information on the change in biophysical conditions on-the-ground.</li>
                  <li>The dashboard enables users to gain insight about possible drivers of change and to track performance of landscape-scale efforts. The dashboard has four primary components: biophysical monitoring; forest monitoring; forest alert; and fire monitoring.</li>
                  <li>Alongside the dashboard, capacity building activities will enhance the technical capacity of stakeholders as well as improve the sharing of user-tailored geospatial data, products, and services for establishing a vibrant geospatial information user community of practice.</li>
                  <li>The dashboard will help to improve sustainable landscape management in Cambodia and the justification of USAID investment for landscape-related projects, supporting sustainable financial investments in Cambodian conservation.</li>
                </ul>

              </div>
            </div>

            <div class="col-lg-12 col-md-6" id="about-7">
              <div class="about-title">
                <h1>Contact Us</h1>
                <div class="row">
                  <div class="col-lg-7 col-md-6">
                    <div class="" id="contact_map" style="height:350px;width:100%;"></div>
                    <br>

                  </div>
                  <div class="col-lg-5 col-md-6">
                    <p>
                      <b>ASIAN DISASTER PREPAREDNESS CENTER (ADPC)</b> <br>
                      SM Tower, 24th Floor, 979/69 Paholyothin Road, Samsen Nai Phayathai,<br>
                      Bangkok 10400 Thailand<br>
                      BTS Skytrain: Sanam Pao, Exit 1<br>
                      <strong>Phone:</strong> +66 2 298 0681-92<br>
                      <strong>Fax:</strong> +66 2 298 0012<br>
                    </p>
                    <br>

                    <p><b>For Technical Inquiries:</b></p>
                    <p>Data and Information Related: Dr. Nguyen Hanh Quyen (nguyen.quyen@adpc.net), Dr. Ate Poortinga (apoortinga@sig-gis.com ) </p>
                    <p>Portal Related: Thannarot Kunlamai (thannarot.kunlamai@adpc.net )</p>
                    <br>
                    <p>If you'd like to send us a message, you can send us an email to <a href="mailto:servir-contact@adpc.net">servir-contact@adpc.net</a>
                    </p>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>



    </main><!-- End #main -->
    {% endblock %}
  </body>
</html>
