{% extends 'base.html'%}
<html>
  <head>
    {% block head%}
    <title>RLCMS | About</title>
    {% endblock %}
  </head>
  <body>
    {% block body%}
    <!-- ======= Hero Section ======= -->
    <section id="branding" class="image">
      <div class="overlay">
        <div class="">
          <h2 class="animated fadeInDown">About Us</h2>
        </div>
      </div>
    </section><!-- End Hero -->

    <main id="main">
      <div class="container">
        <div class="col-lg-12">
          <div class="row margin-top">
            <div class="col-lg-3 col-md-6">
              <ul id="library-nav">
                <li class="active" id="li-about1">SERVIR & Development of RLCMS</li>
                <li id="li-about2">Co-development Objectives</li>
                <li id="li-about3">Facts & Figures about RLCMS</li>
                <li id="li-about4">Partners</li>
                <li id="li-about5">How to use the portal</li>
              </ul>
            </div>
            <div class="col-lg-9 col-md-6" id="about-1">
              <div class="about-title">
                <h1>SERVIR and Development of RLCMS</h1>
                <br><br><br><br><br><br><br><br>
              </div>
            </div>
            <div class="col-lg-9 col-md-6" id="about-2">
              <div class="about-title">
                <h1>Co-development Objectives</h1>
                <br><br><br><br><br><br><br><br>
              </div>
            </div>
            <div class="col-lg-9 col-md-6" id="about-3">
              <div class="about-title">
                <h1>Facts & Figures about RLCMS</h1>
                <br><br><br><br><br><br><br><br>
              </div>
            </div>
            <div class="col-lg-9 col-md-6" id="about-4">
              <div class="about-title">
                <!-- <h1>Partners</h1> -->
                <div class="text-center">
                  <h2>The Land Cover Portal is an initiative of </h2>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 margin-top text-center">
                    <div class="partner-logo --servir-mekong">
                      <!-- <img src="/static/images/partners/servir-mekong.png" alt=""> -->
                    </div>
                    <p>SERVIR Mekong</p>
                    <a href="http://servir.adpc.net/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-6 col-md-6 margin-top text-center">
                    <div class="partner-logo --servir-himalaya">
                      <!-- <img src="/static/images/partners/servir-mekong.png" alt=""> -->
                    </div>
                    <p>SERVIR Hindu Kush Himalaya</p>
                    <a href="http://servir.icimod.org/" target="_blank">LEARN MORE</a>
                  </div>
                </div>
                <br>

                <div class="text-center">
                    <h2>Core Partners</h2>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --usaid">
                    </div>
                    <p>USAID</p>
                    <a href="https://www.usaid.gov/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --nasa">
                    </div>
                    <p>NASA</p>
                    <a href="https://www.nasa.gov/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --adpc">
                    </div>
                    <p>ADPC</p>
                    <a href="http://www.adpc.net/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --sig">
                    </div>
                    <p>Spatial Information Group</p>
                    <a href="https://sig-gis.com/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --sei">
                    </div>
                    <p>Stockolm Environment Institute</p>
                    <a href="https://www.sei-international.org/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --deltares">
                    </div>
                    <p>Deltares</p>
                    <a href="https://www.deltares.nl/en/" target="_blank">LEARN MORE</a>
                  </div>
                </div>
                <br>

                <div class="text-center">
                    <h2>Contributing Partners</h2>
                </div>
                <div class="test">

                </div>

                <div class="row">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --usfs">
                      </div>
                      <p>U.S. Forest Service</p>
                      <a href="https://www.fs.usda.gov/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --gtac">
                      </div>
                      <p>GTAC</p>
                      <a href="https://www.fs.fed.us/gstc/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --silvacarbon">
                      </div>
                      <p>SilvaCarbon</p>
                      <a href="https://egsc.usgs.gov/silvacarbon/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --fao">
                      </div>
                      <p>FAO</p>
                      <a href="http://www.fao.org/home/en/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --umd">
                      </div>
                      <p>University of Maryland</p>
                      <a href="https://www.umd.edu/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --glad">
                      </div>
                      <p>GLAD</p>
                      <a href="https://www.glad.umd.edu/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --usf">
                      </div>
                      <p>Geospatial Analysis Lab</p>
                      <a href="https://www.usfca.edu/arts-sciences/research/geospatial-analysis-lab" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --uah">
                      </div>
                      <p>UAH</p>
                      <a href="https://www.uah.edu/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --sepal">
                      </div>
                      <p>SEPAL</p>
                      <a href="http://www.openforis.org/tools/sepal.html" target="_blank">LEARN MORE</a>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-lg-9 col-md-6" id="about-5">
              <div class="about-title">
                <h1>How to use the portal</h1>
                <p>Regional Land Cover Monitoring System Google Earth Engine code repository (Requires Earth Engine Authentication)</p>
                <br><br><br><br><br><br><br><br>
              </div>
            </div>

          </div>
        </div>
      </div>



    </main><!-- End #main -->
    {% endblock %}
  </body>
</html>
