{% extends 'base.html'%}
<html>
  <head>
    {% block head%}
    <title>RLCMS | About</title>
    {% endblock %}
  </head>
  <body>
    {% block body%}
    <!-- ======= Hero Section ======= -->
    <section id="branding" class="image">
      <div class="overlay">
        <div class="">
          <h2 class="animated fadeInDown">About</h2>
        </div>
      </div>
    </section><!-- End Hero -->

    <section class="section-menu-about">
      <div class="container">
        <div class="row justify-content-center">
          <ul id="about-nav">
            <li class="active" id="li-about1">About RLCMS</li>
            <li id="li-about2">Co-development</li>
            <li id="li-about4">Our Partners</li>
            <li id="li-about5">Portal User Guide and Manual</li>
            <li id="li-about6">Impact</li>
            <li id="li-about7">Contact Us</li>
          </ul>
        </div>
      </div>
    </section><!-- End Hero -->

    <main id="main">
      <div class="container">
        <div class="col-lg-12">
          <div class="row margin-top">
            <div class="col-lg-12 col-md-6" id="about-1">
              <div class="about-title" style="text-align: justify;">
                <h1>About RLCMS</h1>
                <p>
                  Monitoring land cover and land use change by providing accurate and timely land cover maps and information, play a critical role in a variety of sectors in the developing world such as, agricultural planning and food security, carbon accounting, water management and natural resource management. However, many developing countries including those within the Lower Mekong region, lack the coordinated capacity to produce timely, and temporally comparable geospatial data products that are sufficient enough to meet their management needs.
                </p>
                <br>
                <p>
                  The Regional Land Cover Monitoring System (RLCMS) was developed by SERVIR-Mekong with the support of the U.S. Forest Service, NASA Applied Science Program, Google, the University of Maryland and governments of countries in the Mekong region. The system utilizes satellite technology to facilitate the production of customized, high-quality regional land cover maps at a 30-m resolution for each year from 2000 to present, in addition to complimentary land cover information. Using publicly available global satellite data, such as Landsat and MODIS, makes the system easily transferable. The adaptable system framework allows for a customized service that is able to map different land cover typologies based on ongoing user needs and bespoke landscape monitoring objectives.
                </p>
                <br>
                <div class="text-center">
                  <img src="/static/images/about/rlcms.png" class="img-fluid" alt="RLCMS">
                </div>

                <br>
                <p>
                  SERVIR-Mekong is a joint initiative of the U.S. Agency for International Development (USAID) and the U.S. National Aeronautics and Space Administration (NASA), implemented by the Geospatial Information Department of Asian Disaster Preparedness Center (ADPC). It makes use of publicly available satellite imagery and technologies to address challenges related to water resources, disasters, climate resilience, agriculture and ecosystems in the Lower Mekong.
                </p>
                <br>
              </div>
            </div>
            <div class="col-lg-12 col-md-6" id="about-2">
              <div class="about-title">
                <h1>Co-development/System Development</h1>
                <br><br><br><br><br><br><br><br>
              </div>
            </div>
            <div class="col-lg-12 col-md-6" id="about-4">
              <div class="about-title">
                <!-- <h1>Partners</h1> -->
                <div class="text-center">
                  <h2>The Land Cover Portal is an initiative of </h2>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 margin-top text-center">
                    <div class="partner-logo --servir-mekong">
                      <!-- <img src="/static/images/partners/servir-mekong.png" alt=""> -->
                    </div>
                    <p>SERVIR Mekong</p>
                    <a href="http://servir.adpc.net/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-6 col-md-6 margin-top text-center">
                    <div class="partner-logo --servir-himalaya">
                      <!-- <img src="/static/images/partners/servir-mekong.png" alt=""> -->
                    </div>
                    <p>SERVIR Hindu Kush Himalaya</p>
                    <a href="http://servir.icimod.org/" target="_blank">LEARN MORE</a>
                  </div>
                </div>
                <br>

                <div class="text-center">
                    <h2>Core Partners</h2>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --usaid">
                    </div>
                    <p>USAID</p>
                    <a href="https://www.usaid.gov/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --nasa">
                    </div>
                    <p>NASA</p>
                    <a href="https://www.nasa.gov/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --adpc">
                    </div>
                    <p>ADPC</p>
                    <a href="http://www.adpc.net/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --sig">
                    </div>
                    <p>Spatial Information Group</p>
                    <a href="https://sig-gis.com/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --sei">
                    </div>
                    <p>Stockolm Environment Institute</p>
                    <a href="https://www.sei-international.org/" target="_blank">LEARN MORE</a>
                  </div>
                  <div class="col-lg-4 col-md-6 margin-top text-center">
                    <div class="partner-logo --deltares">
                    </div>
                    <p>Deltares</p>
                    <a href="https://www.deltares.nl/en/" target="_blank">LEARN MORE</a>
                  </div>
                </div>
                <br>

                <div class="text-center">
                    <h2>Contributing Partners</h2>
                </div>
                <div class="test">

                </div>

                <div class="row">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --usfs">
                      </div>
                      <p>U.S. Forest Service</p>
                      <a href="https://www.fs.usda.gov/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --gtac">
                      </div>
                      <p>GTAC</p>
                      <a href="https://www.fs.fed.us/gstc/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --silvacarbon">
                      </div>
                      <p>SilvaCarbon</p>
                      <a href="https://egsc.usgs.gov/silvacarbon/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --fao">
                      </div>
                      <p>FAO</p>
                      <a href="http://www.fao.org/home/en/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --umd">
                      </div>
                      <p>University of Maryland</p>
                      <a href="https://www.umd.edu/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --glad">
                      </div>
                      <p>GLAD</p>
                      <a href="https://www.glad.umd.edu/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --usf">
                      </div>
                      <p>Geospatial Analysis Lab</p>
                      <a href="https://www.usfca.edu/arts-sciences/research/geospatial-analysis-lab" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --uah">
                      </div>
                      <p>UAH</p>
                      <a href="https://www.uah.edu/" target="_blank">LEARN MORE</a>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-top text-center">
                      <div class="partner-logo --sepal">
                      </div>
                      <p>SEPAL</p>
                      <a href="http://www.openforis.org/tools/sepal.html" target="_blank">LEARN MORE</a>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-lg-12 col-md-6" id="about-5">
              <div class="about-title">
                <h1>Portal User Guide and Manual</h1>

                <br><br><br><br><br><br><br><br>
              </div>
            </div>

            <div class="col-lg-12 col-md-6" id="about-6">
              <div class="about-title">
                <h1>Impact</h1>

                <br><br><br><br><br><br><br><br>
              </div>
            </div>

            <div class="col-lg-12 col-md-6" id="about-7">
              <div class="about-title">
                <h1>Contact Us</h1>

                <br><br><br><br><br><br><br><br>
              </div>
            </div>

          </div>
        </div>
      </div>



    </main><!-- End #main -->
    {% endblock %}
  </body>
</html>
