{% extends "layout.html" %}
{% block title %}Regional Land Cover Portal{% endblock %}
{% load cms_tags staticfiles %}

{% block navigation_container%}
    {% include "navigation.html" %}
{% endblock navigation_container %}

{% block main_container %}

<div style="background: #ebebeb;"  ng-controller="analysisController">

    <!-- Alert Container -->
    <div class="alert alert-dismissible text-center display-none custom-alert" role="alert">
        <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong ng-bind-html="alertContent"></strong>
    </div>

    <!-- Start Change Detection Map Area-->
    <div class="change-detection-area mg-5-percent pd-5">
        <div class="container-fluid">
            <div class="row">
                <!-- Map Start -->
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="row">

                        <!-- Change Detection start -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- Loader Container -->
                            <div class="loader" ng-show="showMapLoader">
                                <i class="loading-img fas fa-spinner fa-spin fa-5x"></i>
                            </div>
                            <!-- Card Start -->
                            <div class="change-detection-inner card mg-tb-30">
                                <div class="card-title home-title">
                                    <h3>Change Detection</h3>
                                </div>
                                <div class="card-content" style="height: 70vh;">
                                    {% if version1 %}
                                        <div id="change-detection-map" ng-init="initMap(2000, 'left', 'v1', true); initMap(2016, 'right', 'v1', true);"></div>
                                    {% elif version2 %}
                                        <div id="change-detection-map" ng-init="initMap(2000, 'left', 'v2', true); initMap(2017, 'right', 'v2', true);"></div>
                                    {% else %}
                                        <div id="change-detection-map" ng-init="initMap(1987, 'left', 'v3', true); initMap(2017, 'right', 'v3', true);"></div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Card Finish -->
                        </div>
                        <!-- Change detection end -->

                        <!-- Time slider animation start -->
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="loader" ng-show="showMapAnimationLoader">
                                <i class="loading-img fas fa-spinner fa-spin fa-5x"></i>
                            </div>
                            <div class="change-detection-inner card mg-tb-30">
                                <div class="card-title home-title">
                                    <h3>Map Animation</h3>
                                </div>
                                <div class="card-content" style="height: 70vh;">
                                    <div id="animation-map"></div>
                                </div>
                            </div>
                        </div>-->
                        <!-- Time slider animation end -->

                    </div>

                </div>
                <!-- Map End -->

                <!-- Side table and pie chart start -->
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="row">

                        <!-- Area filter start -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- Card Start -->
                            <div class="change-detection-inner card mg-tb-30" style="min-height:0">
                                <div class="card-title home-title">
                                    <h3>Filter Area for Statistics</h3>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="area-index-filter">Filter By</label>
                                                <select name="area-index-filter" class="form-control" ng-options="option.name for option in areaIndexSelectors"
                                                        ng-model="selector" ng-change="populateSelectors(selector)"
                                                        style="float: none;width: 20vh;">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group" ng-show="showSelectors">
                                                <label for="area-variable-filter">Select From</label>
                                                <select name="area-variable-filter" class="form-control" ng-options="option for option in selectorOptions"
                                                        ng-model="name" ng-change="loadSelectors(name)"
                                                        style="float: none;width: 20vh;">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card End -->
                        </div>
                        <!-- Area filter end -->

                        <!-- Side table start -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- Loader Container -->
                            <div class="loader" ng-show="showtableLoader">
                                <i class="loading-img fas fa-spinner fa-spin fa-5x"></i>
                            </div>
                            <!-- Card Start -->
                            <div class="change-detection-inner card mg-tb-30">
                                <div class="card-title home-title">
                                    <h3 class="inline-block-display">Land Cover Statistics</h3>
                                    {% if version1 %}
                                        <!--<div id="change-detection-map" ng-init="initMap(leftLayerYear, 'left', 'v1', true); initMap(rightLayerYear, 'right', 'v1', true);"></div>-->
                                        <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange"
                                                ng-model="tableYear" ng-change="changeTableYear(tableYear,  'v1')" ng-init="getTableStats('v1')">
                                        </select>
                                    {% elif version2 %}
                                        <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange"
                                                ng-model="tableYear" ng-change="changeTableYear(tableYear, 'v2')" ng-init="getTableStats('v2')">
                                        </select>
                                    {% else %}
                                        <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange"
                                                ng-model="tableYear" ng-change="changeTableYear(tableYear, 'v3')" ng-init="getTableStats('v3')">
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="card-content landcover-table" ng-show="!showtableLoader">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Class</th>
                                            <th>Area (Acre)</th>
                                            <th>Area (Hectare)</th>
                                            <th>Percentage (%)</th>
                                        </tr>

                                        <tr ng-repeat="data in tableData">
                                            <td>[[ data.name ]]</td>
                                            <td>[[ data.area | number: 2 ]]</td>
                                            <td>[[ data.area * 2.471 | number: 2 ]]</td>
                                            <td>[[ data.percentage | number: 2 ]]</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- Card End -->
                        </div>
                        <!-- Side table end -->

                        <!-- Side pie chart start -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- Loader Container -->
                            <div class="loader" ng-show="showPieLoader">
                                <i class="loading-img fas fa-spinner fa-spin fa-5x"></i>
                            </div>
                            <div class="change-detection-inner card">
                                <div class="card-title home-title">
                                    <h3 class="inline-block-display">Land Cover Statistics</h3>
                                    {% if version1 %}
                                        <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange"
                                                ng-model="pieYear" ng-change="changePieYear(pieYear, 'v1')" ng-init="getPieStats('v1')">
                                        </select>
                                    {% elif version2 %}
                                        <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange"
                                                ng-model="pieYear" ng-change="changePieYear(pieYear, 'v2')" ng-init="getPieStats('v2')">
                                        </select>
                                    {% else %}
                                        <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange"
                                                ng-model="pieYear" ng-change="changePieYear(pieYear, 'v3')" ng-init="getPieStats('v3')">
                                        </select>
                                    {% endif %}
                                </div>
                                <div class="card-content" id="landcover-piechart" ng-show="!showPieLoader"></div>
                            </div>
                        </div>
                        <!-- Side pie chart finish -->
                    </div>
                </div>
                <!-- Side table and pie chart finish -->

            </div>
        </div>
    </div>
    <!-- Start Change Detection Map Area-->

    <!-- Start column Statistics Area-->
    <div class="column-area mg-5-percent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Loader Container -->
                    <div class="loader" ng-show="showColumnLoader">
                        <i class="loading-img fas fa-spinner fa-spin fa-5x"></i>
                    </div>
                    <div class="change-detection-inner card mg-tb-30">
                        <div class="card-title home-title">
                            <h3 class="inline-block-display">Land Cover Statistics</h3>

                            {% if version1 %}
                                <button type="button" class="btn btn-success" ng-click="loadColumnStats('v1')" ng-init=loadColumnStats('v1')>GO</button>
                                <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange" ng-model="columnEndYear"></select>
                                <p>TO</p>
                                <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange" ng-model="columnStartYear"></select>
                            {% elif version2 %}
                                <button type="button" class="btn btn-success" ng-click="loadColumnStats('v2')" ng-init=loadColumnStats('v2')>GO</button>
                                <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange" ng-model="columnEndYear"></select>
                                <p>TO</p>
                                <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange" ng-model="columnStartYear"></select>
                            {% else %}
                                <button type="button" class="btn btn-success" ng-click="loadColumnStats('v3')" ng-init=loadColumnStats('v3')>GO</button>
                                <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange" ng-model="columnEndYear"></select>
                                <p>TO</p>
                                <select name="area-index-filter" class="form-control" ng-options="option for option in yearRange" ng-model="columnStartYear"></select>
                            {% endif %}
                        </div>
                        <div class="card-content" id="landcover-column" ng-show="!showColumnLoader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Change Detection Map Area-->

</div>

{% endblock main_container %}
