{% extends "layout.html" %}
{% block title %}Regional Land Cover Portal{% endblock %}
{% load staticfiles %}

{% block main_container %}

<div class="container-fluid">

	<!--<div class="row">
	<div class="col-md-12 video-container">
	<iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&controls=0&modestbranding=1&playlist=W0LHTWG-UmQ&enablejsapi=1&mute=1"
	frameborder="0" allowfullscreen>1
</iframe>
</div>
</div>-->

<div class="row main-padding" id="about" style="padding-top: 25px; margin-bottom: 40px;">

	<div class="panel panel-primary justify-content-center" style="margin-left: 20%;border: 3px solid rgba(255,255,255,.15);background: rgba(0,0,0,.075);width:60%;">
		<div class="panel-body text-center">
			<h1 style="font-size:34px;margin:3px;font-weight: 700;">WE HAVE </h1>
			<h1 style="font-size:86px; color:red; font-weight: 800;margin:3px;">MOVED</h1>
			<a style="font-size:34px;" href="https://landcovermapping.org/">CLICK HERE</a>
			<p style="font-size:20px;">to visite our NEW Website</p>
		</div>

	</div>
</div>

</div>

<!--<div class="arrow bounce">
<a class="glyphicon glyphicon-circle-arrow-down scroll-down" href="#" aria-hidden="true"></a>
</div>-->

{% endblock main_container %}
