{% extends 'base.html'%}
<html>
  <head>
    {% block head%}
    <title>RLCMS | Events</title>
    {% endblock %}
  </head>
  <body>
    {% block body%}
    <!-- ======= Hero Section ======= -->
    <section id="branding" class="image">
      <div class="overlay">
        <div class="">
          <h2 class="animated fadeInDown">Library</h2>
        </div>
      </div>
    </section><!-- End Hero -->

    <section class="section-menu-about">
      <div class="container">
        <div class="row justify-content-center">
          <ul id="about-nav">
            <li id="li-code">Code Repository</li>
            <li id="li-publication">Publication</li>
            <li class="active" id="li-events">Events</li>
          </ul>
        </div>
      </div>
    </section><!-- End Hero -->

    <main id="main">
      <div class="container">
        <div class="col-lg-12">
          <div class="row margin-top">

            <div class="col-lg-12 col-md-6 " id="events" ng-controller="EventsController">
            <div class="container">
              <div class="events-title">
                <h1>Events</h1>
              </div>
              <div class="row events">
                  <div class="col-lg-12">
                    <ul id="events-flters">
                      <li data-filter="*" class="filter-active">Show All</li>
                      <li data-filter=".filter-Global">SERVIR Global</li>
                      <li data-filter=".filter-Mekong">SERVIR Mekong</li>
                      <li data-filter=".filter-Himalaya">SERVIR Himalaya</li>
                    </ul>
                  </div>
                </div>



                <div class="row events-container">


                    <div class="col-lg-12 col-md-6 events-item filter-[[ event.Hub ]]" ng-repeat="event in EventList">
                      <div class="row training-list">
                        <div class="col-lg-2 col-md-6 padding-15">
                          <div class="margin-10">
                            <div class="training-content-month">
                              [[event.Month]]
                            </div>
                            <div class="training-content-year">
                              [[event.Year]]
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-10 col-md-6 padding-15">
                          <div class="training-content animated fadeInUp">
                            <a href="/event-detail/?eid=[[event.Order]]" target="_blank">[[event.Title]]</a>
                            <p>Start: [[event.DateStart]]     End: [[event.DateFinish]]</p>
                            <p>Location: [[event.Venue]], [[event.Country]]</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  <br>
                </div>
            </div>
          </div><!-- End Events -->


          </div>
        </div>
      </div>



    </main><!-- End #main -->
    {% endblock %}
  </body>
</html>
