<!-- Footer -->
{% load cms_tags staticfiles %}
<footer ng-cloak ng-controller="utilsController" class="main-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 well well-lg">
                <div class="partner-content">
                    <h1 class="text-center">THE LAND COVER PORTAL IS AN INITIATIVE OF</h1>
                    <div class="row">
                        <!-- with the HKH logo / uncomment when needed -->
                        <!--<div class="col-md-6 col-sm-12">
                            <a href="https://servir.adpc.net/" target="_blank">
                                <img src="{% static 'images/servir-mekong.png' %}" alt="ADPC"
                                     class="img-responsive img-center grow"
                                     style="margin-left: 3%">
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <a href="http://www.icimod.org/servir-himalaya" target="_blank">
                                <img src="{% static 'images/servir-himalaya.png' %}" alt="ICIMOD"
                                     class="img-responsive img-center grow" width="80%"
                                     style="margin-right: 3%;margin-top: 2px;">
                            </a>
                        </div>-->
                        <div class="col-md-12 col-sm-12">
                            <a href="https://servir.adpc.net/" target="_blank">
                                <img src="{% static 'images/servir-mekong.png' %}" alt="ADPC"
                                     class="img-responsive img-center grow" style="width: 60%;">
                            </a>
                        </div>
                    </div>
                    <br/>
                    <p class="text-center" style="font-size: 1.5em;">a partnership between</p>
                    <br/>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <a href="https://www.usaid.gov/" target="_blank">
                                <img src="{% static 'images/usaid.png' %}" alt="USAID"
                                     class="img-responsive img-center grow"
                                     style="margin-left: 20%" width="80%">
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <a href="https://www.nasa.gov/" target="_blank">
                                <img src="{% static 'images/nasa.png' %}" alt="NASA"
                                     class="img-responsive img-center grow" width="45%"
                                     style="margin-right: 20%; margin-top: -30px;">
                            </a>
                        </div>
                    </div>
                    <p class="text-center" style="font-size: 1.5em;">implemented by</p>
                    <br/>
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <a href="https://www.adpc.net/" target="_blank">
                                <img src="{% static 'images/adpc.png' %}" alt="ADPC"
                                     class="img-responsive img-center grow" width="70%">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="https://sig-gis.com/" target="_blank">
                                <img src="{% static 'images/sig.png' %}" alt="SIG"
                                     class="img-responsive img-center grow">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="https://www.sei-international.org/" target="_blank">
                                <img src="{% static 'images/sei.png' %}" alt="SEI"
                                     class="img-responsive img-center grow">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="https://www.deltares.nl/" target="_blank">
                                <img src="{% static 'images/deltares.png' %}" alt="Deltares"
                                     class="img-responsive img-center grow" style="margin-top: -25px;">
                            </a>
                        </div>
                    </div>
                    <p class="text-center" style="font-size: 1.5em;">in partnership with</p>
                    <br/>
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <a href="https://www.fs.fed.us/" target="_blank">
                                <img src="{% static 'images/usfs.png' %}" alt="USFS"
                                     class="img-responsive img-center grow" width="50%">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="https://www.fs.fed.us/gstc/" target="_blank">
                                <img src="{% static 'images/gtac.svg' %}" alt="GTAC"
                                     class="img-responsive img-center grow">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="https://egsc.usgs.gov/silvacarbon/" target="_blank">
                                <img src="{% static 'images/silvacarbon.png' %}" alt="SilvaCarbon"
                                     class="img-responsive img-center grow" width="85%">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="http://www.fao.org/" target="_blank">
                                <img src="{% static 'images/fao.png' %}" alt="FAO"
                                     class="img-responsive img-center grow" width="80%"
                                     style="margin-top: -10px;">
                            </a>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <a href="https://www.umd.edu/" target="_blank">
                                <img src="{% static 'images/umd.png' %}" alt="UMD"
                                     class="img-responsive img-center grow" width="50%">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="http://www.glad.umd.edu/" target="_blank">
                                <img src="{% static 'images/glad.png' %}" alt="GLAD"
                                     width="55%" class="img-responsive img-center grow">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="https://www.usfca.edu/arts-sciences/research/geospatial-analysis-lab" target="_blank">
                                <img src="{% static 'images/usf-gsal.png' %}" alt="USF GSAL"
                                     class="img-responsive img-center grow" style="margin-top: 18%;">
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="https://www.uah.edu/" target="_blank">
                                <img src="{% static 'images/uah.png' %}" alt="UAH"
                                     class="img-responsive img-center grow">
                            </a>
                        </div>
                    </div>
                    <p class="text-center" style="font-size: 1.5em;">and industry partners</p>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <a href="https://earthengine.google.com/" target="_blank">
                                <img src="{% static 'images/gee.png' %}" alt="GEE"
                                     class="img-responsive img-center grow">
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <a href="https://www.digitalglobe.com/" target="_blank">
                                <img src="{% static 'images/digitalglobe.png' %}" alt="DigitalGlobe"
                                     class="img-responsive img-center grow" width="60%"
                                     style="margin-top: 10px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
