{% extends "layout.html" %}
{% load cms_tags staticfiles %}

{% block navigation_container%}
    {% include "navigation.html" %}
{% endblock navigation_container %}

{% block main_container %}

<div class="container-fluid">

    <div class="row" ng-controller="forestMonitorController">

        <!-- Alert Container -->
        <div class="alert alert-dismissible text-center display-none custom-alert" role="alert">
            <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>[[alertContent]]</strong>
        </div>

        <!-- Loader Container -->
        <div id="loader" class="loader" ng-show="showLoader">
            <!--<div class="loading-img" style="background: url('static/images/spinner.gif') no-repeat;"></div>-->
            <i class="loading-img fas fa-spinner fa-spin fa-5x"></i>
        </div>

        <!-- Sidebar Container -->
        <div class="[[ sideClass ]]">
            {% include "panels/side-panel-forest-monitor.html" %}
        </div>

        <!-- Map Container -->
        <div class="[[ mapClass ]] map" id="map"></div>

        <!-- Layer Control Container -->
        <div class="panel panel-default layer-control" ng-show="showTreeCanopyOpacitySlider || showTreeHeightOpacitySlider || showForestGainOpacitySlider || showForestLossOpacitySlider || showForestChangeOpacitySlider || showForestExtendOpacitySlider">
            <div class="panel-heading">
            <h4 class="panel-title">
                    <a class="layer-control-toggle"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#layer-control-body">
                        <span class="glyphicon glyphicon-plus"></span> Layers
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse out" id="layer-control-body">
                <div class="panel-body">
                    <ul class="panel-collapse list-group">
                        <li class="list-group-item" ng-show="showTreeCanopyOpacitySlider">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 pull-left">
                                    <span>Tree Canopy</span>
                                </div>
                                <div class="col-md-5 col-lg-5 pull-left">
                                    <img src="{% static 'images/tree-canopy-legend.png' %}" style="width: 150px;" />
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="custom-layer-switch pull-right">
                                        <input id="treeCanopySwitch" name="treeCanopySwitch" type="checkbox" checked/>
                                        <label for="treeCanopySwitch" class="label-primary"></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-show="showTreeHeightOpacitySlider">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 pull-left">
                                    <span>Tree Height</span>
                                </div>
                                <div class="col-md-5 col-lg-5 pull-left">
                                    <img src="{% static 'images/tree-height-legend.png' %}" style="width: 150px;" />
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="custom-layer-switch pull-right">
                                        <input id="treeHeightSwitch" name="treeHeightSwitch" type="checkbox" checked />
                                        <label for="treeHeightSwitch" class="label-primary"></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-show="showForestGainOpacitySlider">
                            <div class="row">
                                <div class="col-md-5 col-lg-5 pull-left" style="margin-top: 4%;">
                                    <span>Forest Gain</span>
                                </div>
                                <div class="col-md-4 col-lg-4 pull-left">
                                    <div class="lcp-class-color" style="background: blue;"></div>
                                </div>
                                <div class="col-md-3 col-lg-3" style="margin-top: 4%;">
                                    <div class="custom-layer-switch pull-right">
                                        <input id="forestGainSwitch" name="forestGainSwitch" type="checkbox" checked />
                                        <label for="forestGainSwitch" class="label-primary"></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-show="showForestLossOpacitySlider">
                            <div class="row">
                                <div class="col-md-5 col-lg-5 pull-left" style="margin-top: 4%;">
                                    <span>Forest Loss</span>
                                </div>
                                <div class="col-md-4 col-lg-4 pull-left">
                                    <div class="lcp-class-color" style="background: red;"></div>
                                </div>
                                <div class="col-md-3 col-lg-3" style="margin-top: 4%;">
                                    <div class="custom-layer-switch pull-right">
                                        <input id="forestLossSwitch" name="forestLossSwitch" type="checkbox" checked />
                                        <label for="forestLossSwitch" class="label-primary"></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-show="showForestChangeOpacitySlider">
                            <div class="row">
                                <div class="col-md-5 col-lg-5 pull-left" style="margin-top: 4%;">
                                    <span>Forest Change</span>
                                </div>
                                <div class="col-md-4 col-lg-4 pull-left">
                                    <div class="lcp-class-color" style="background: yellow;"></div>
                                </div>
                                <div class="col-md-3 col-lg-3" style="margin-top: 4%;">
                                    <div class="custom-layer-switch pull-right">
                                        <input id="forestChangeSwitch" name="forestChangeSwitch" type="checkbox" checked />
                                        <label for="forestChangeSwitch" class="label-primary"></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-show="showForestExtendOpacitySlider">
                            <div class="row">
                                <div class="col-md-5 col-lg-5 pull-left" style="margin-top: 4%;">
                                    <span>Forest Extend</span>
                                </div>
                                <div class="col-md-4 col-lg-4 pull-left">
                                    <div class="lcp-class-color" style="background: #228B22;"></div>
                                </div>
                                <div class="col-md-3 col-lg-3" style="margin-top: 4%;">
                                    <div class="custom-layer-switch pull-right">
                                        <input id="forestExtendSwitch" name="forestExtendSwitch" type="checkbox" checked />
                                        <label for="forestExtendSwitch" class="label-primary"></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Toogle button container -->
        <div id="tool-control-container"></div>

        <!-- Tab Container -->
        <div class="tab-tool" ng-show="showTabContainer">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="true">
                <div class="btn-group" role="group">
                    <button type="button" id="area" class="btn btn-primary js-tooltip" href="#area-tab" data-toggle="tab" title="Define Reporting Area">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="report" class="btn btn-default js-tooltip" href="#report-tab" data-toggle="tab" title="Reports">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div class="well tab-tool-content">
                <div class="tab-content">

                    {% include "panels/area-selection-tab.html" %}

                    <div class="tab-pane fade in" id="report-tab">
                        <ul class="ul-no-bullets inline-block-display" style="margin-left: -30px;">
                            <li ng-show="showReportNoPolygon">
                                <span class="report-title">No Polygon!</span>
                                <span class="report-detail">Draw a polygon to analyze</span>
                            </li>
                            <li ng-show="showReportTotalArea">
                                <span class="report-title">Total Selected Area</span>
                                <span class="report-detail">[[ reportTotalAreaValue ]]</span>
                            </li>
                            <li ng-show="showReportTreeCanopy">
                                <span class="report-title">[[ reportTreeCanopyTitle ]]</span>
                                <span class="report-detail" style="color: #006400;">[[ reportTreeCanopyValue ]]</span>
                            </li>
                            <li ng-show="showReportForestGain">
                                <span class="report-title">[[ reportForestGainTitle ]]</span>
                                <span class="report-detail" style="color: #6D6DE5;">[[ reportForestGainValue ]]</span>
                            </li>
                            <li ng-show="showReportForestLoss">
                                <span class="report-title">[[ reportForestLossTitle ]]</span>
                                <span class="report-detail" style="color: #F69;">[[ reportForestLossValue ]]</span>
                            </li>
                            <li ng-show="showReportForestExtend">
                                <span class="report-title">[[ reportForestExtendTitle ]]</span>
                                <span class="report-detail" style="color: #006400;">[[ reportForestExtendValue ]]</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of tab -->

    </div>
</div>

{% endblock main_container %}
