{% extends "layout.html" %}
{% block title %}Forest Monitoring System{% endblock %}
{% load cms_tags staticfiles %}

{% block navigation_container%}
{% include "navigation.html" %}
{% endblock navigation_container %}

{% block main_container %}

<div class="container-fluid">

  <div class="row" ng-controller="forestMonitorController">

    <!-- Alert Container -->
    <div class="alert alert-dismissible text-center display-none custom-alert" role="alert">
      <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>[[alertContent]]</strong>
    </div>

    <!-- Loader Container -->
    <div id="loader" class="loader" ng-show="showLoader">
      <!--<div class="loading-img" style="background: url('static/images/spinner.gif') no-repeat;"></div>-->
      <i class="loading-img fas fa-spinner fa-spin fa-5x"></i>
    </div>

    {% include "panels/side-panel-forest-monitor.html" %}

    <!-- Map Container -->
    <div class="map [[ mapClass ]]" id="map"></div>

    <div class="control-panel map-component">
      <div class="scalebar-container"></div>
      <!-- Map Munu -->
      <ul>
        <li class="pointer shadow" id="zoom-in">
          <svg class="panel-icon">
            <use xlink:href="#icon-plus">
              <svg fill="#FFF" id="icon-plus" viewBox="0 0 1024 1024">
                <title>Zoom In</title>
                <path d="M573.44 245.76h-122.88v204.8h-204.8v122.88h204.8v204.8h122.88v-204.8h204.8v-122.88h-204.8v-204.8z" class="path1"></path>
              </svg>
            </use>
          </svg>
          <span class="tooltipmap tooltipmap1 left"> ZOOM IN </span>
        </li>
        <li class="pointer shadow" id="zoom-out">
          <svg class="panel-icon">
            <svg fill="#FFF" id="icon-minus" viewBox="0 0 1024 1024">
              <title>Zoom Out</title>
              <path d="M778.24 573.44h-532.48v-122.88h532.48v122.88z" class="path1"></path>
            </svg>
          </svg>
          <span class="tooltipmap tooltipmap2 left"> ZOOM OUT</span>
        </li>

        <li class="pointer shadow" id="sign-in" ng-click="googleSignIn()">
          <svg class="panel-icon">
            <svg width="1.9em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            </svg>
          </svg>
          <span class="tooltipmap tooltipmap3 left"> Sign in with Google </span>
        </li>

      </ul>

      <ul class="map-data-content">
        <li class="pointer shadow" id="control-forest-extent">
          <svg class="panel-icon">
            <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-tree" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0zM5.934 4.5H6a.5.5 0 0 1 .424.765L4.402 8.5H4.5a.5.5 0 0 1 .447.724L3.31 12.5h9.382l-1.638-3.276A.5.5 0 0 1 11.5 8.5h.098L9.576 5.265A.5.5 0 0 1 10 4.5h.066L8 1.401 5.934 4.5z"/>
              <path d="M7 13h2v3H7v-3z"/>
            </svg>
          </svg>
          <span class="tooltipmap tooltipmap5 left"> FOREST EXTENT</span>
        </li>

        <li class="pointer shadow" id="control-primary-forest">
          <svg class="panel-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 16 16">
              <g id="Group_12" data-name="Group 12" transform="translate(-1055 -494)">
                <g id="forest" transform="translate(1053 494)" style="isolation: isolate">
                  <path id="Path_5" data-name="Path 5" d="M8,0a.5.5,0,0,1,.416.223l3,4.5A.5.5,0,0,1,11,5.5h-.1l2.022,3.235A.5.5,0,0,1,12.5,9.5h-.191l1.638,3.276a.5.5,0,0,1-.447.724H2.5a.5.5,0,0,1-.447-.724L3.69,9.5H3.5a.5.5,0,0,1-.424-.765L5.1,5.5H5a.5.5,0,0,1-.416-.777l3-4.5A.5.5,0,0,1,8,0ZM5.934,4.5H6a.5.5,0,0,1,.424.765L4.4,8.5h.1a.5.5,0,0,1,.447.724L3.31,12.5h9.382L11.054,9.224A.5.5,0,0,1,11.5,8.5h.1L9.576,5.265A.5.5,0,0,1,10,4.5h.066L8,1.4Z" fill="#fff" fill-rule="evenodd"/>
                  <path id="Path_6" data-name="Path 6" d="M7,13H9v3H7Z" fill="#fff"/>
                </g>
                <g id="forest-2" data-name="forest" transform="translate(1057 494)">
                  <path id="Path_5-2" data-name="Path 5" d="M8,0a.5.5,0,0,1,.416.223l3,4.5A.5.5,0,0,1,11,5.5h-.1l2.022,3.235A.5.5,0,0,1,12.5,9.5h-.191l1.638,3.276a.5.5,0,0,1-.447.724H2.5a.5.5,0,0,1-.447-.724L3.69,9.5H3.5a.5.5,0,0,1-.424-.765L5.1,5.5H5a.5.5,0,0,1-.416-.777l3-4.5A.5.5,0,0,1,8,0ZM5.934,4.5H6a.5.5,0,0,1,.424.765L4.4,8.5h.1a.5.5,0,0,1,.447.724L3.31,12.5h9.382L11.054,9.224A.5.5,0,0,1,11.5,8.5h.1L9.576,5.265A.5.5,0,0,1,10,4.5h.066L8,1.4Z" fill="#fff" fill-rule="evenodd"/>
                  <path id="Path_6-2" data-name="Path 6" d="M7,13H9v3H7Z" fill="#fff"/>
                </g>
              </g>
            </svg>


          </svg>
          <span class="tooltipmap tooltipmap6 left"> PRIMARY FOREST</span>
        </li>

        <li class="pointer shadow" id="control-forest-dynamics">
          <svg class="panel-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 17.207 16">
              <g id="Group_11" data-name="Group 11" transform="translate(-1026 -495)">
                <g id="forest" transform="translate(1024 495)" style="isolation: isolate">
                  <path id="Path_5" data-name="Path 5" d="M8,0a.5.5,0,0,1,.416.223l3,4.5A.5.5,0,0,1,11,5.5h-.1l2.022,3.235A.5.5,0,0,1,12.5,9.5h-.191l1.638,3.276a.5.5,0,0,1-.447.724H2.5a.5.5,0,0,1-.447-.724L3.69,9.5H3.5a.5.5,0,0,1-.424-.765L5.1,5.5H5a.5.5,0,0,1-.416-.777l3-4.5A.5.5,0,0,1,8,0ZM5.934,4.5H6a.5.5,0,0,1,.424.765L4.4,8.5h.1a.5.5,0,0,1,.447.724L3.31,12.5h9.382L11.054,9.224A.5.5,0,0,1,11.5,8.5h.1L9.576,5.265A.5.5,0,0,1,10,4.5h.066L8,1.4Z" fill="#fff" fill-rule="evenodd"/>
                  <path id="Path_6" data-name="Path 6" d="M7,13H9v3H7Z" fill="#fff"/>
                </g>
                <g id="Group_9" data-name="Group 9" transform="translate(1040.119 498.735)">
                  <line id="Line_6" data-name="Line 6" y1="7.741" transform="translate(1.191)" fill="none" stroke="#fff" stroke-width="1"/>
                  <line id="Line_7" data-name="Line 7" y1="1.191" x2="1.191" transform="translate(1.191 6.551)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1"/>
                  <line id="Line_8" data-name="Line 8" x1="1.191" y1="1.191" transform="translate(0 6.551)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1"/>
                </g>
                <g id="Group_10" data-name="Group 10" transform="translate(1037.119 498.735)">
                  <line id="Line_6-2" data-name="Line 6" y2="7.741" transform="translate(1.191)" fill="none" stroke="#fff" stroke-width="1"/>
                  <line id="Line_7-2" data-name="Line 7" x2="1.191" y2="1.191" transform="translate(1.191)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1"/>
                  <line id="Line_8-2" data-name="Line 8" x1="1.191" y2="1.191" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1"/>
                </g>
              </g>
            </svg>


          </svg>
          <span class="tooltipmap tooltipmap7 left"> FOREST DYNAMICS</span>
        </li>
      </ul>

    </div>


<!-- Toogle button container -->
<div id="tool-control-container"></div>

<!-- Tab Container -->
<div class="tab-tool" ng-show="showTabContainer">
  {% include "panels/forest-area-selection-tab.html" %}
</div>
<!-- end of tab -->

</div>
</div>

{% endblock main_container %}
