{% extends "layout.html" %}
{% block title %}Regional Land Cover Portal{% endblock %}
{% load staticfiles %}

{% block navigation_container%}
	{% include "navigation.html" %}
{% endblock navigation_container %}

{% block main_container %}

	<div class="container-fluid">

	    <!--<div class="row">
			<div class="col-md-12 video-container">
				<iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&controls=0&modestbranding=1&playlist=W0LHTWG-UmQ&enablejsapi=1&mute=1"
						frameborder="0" allowfullscreen>1
				</iframe>
			</div>
	    </div>-->

		<div class="row main-padding" id="about" style="padding-top: 25px; margin-bottom: 40px;">
			<div class="col-md-12">

			    <div class="panel panel-primary">
			        <div class="panel-body">
			        	<h1><b>About</b></h1>
			        	<h4 class="text-justify">
			        		Monitoring land cover and land use change is important for land resource planning and for ecosystem services including biodiversity conservation and resilience to climate change. However, data updates are infrequent and classification systems do not always serve key user groups. At the regional level, the only maps currently available are those extracted from global land cover maps, which lack some of the typological resolution (i.e., there are too few land cover classes or the classes are not the most appropriate for the region) needed for many regional applications and decision-making contexts.
			        	</h4>
			        	<h1><b>Purpose</b></h1>
			        	<h4 class="text-justify">
			        		The purpose of this system is to produce high-quality regional land cover maps and identify land cover changes in the Lower Mekong, leveraging the power of Google Earth Engine plus field research by stakeholders throughout the region, to meet the decision-making needs of the regions’ countries and agencies on a regular basis. Specifically, the objectives are:
			        		<br />
			        		<ul>
			        			<li>
			        				Develop a unified regional (satellite-based) land cover monitoring system;
			        			</li>
			        			<li>
			        				Produce regular land cover maps of the Lower Mekong countries for each of the years 2000 to present at the spatial resolution needed for regional applications and decision-making; and
			        			</li>
			        			<li>
			        				Provide an analysis tool that can easily be used for different time series.
			        			</li>
			        		</ul>
			        	</h4>
			        	<h1><b>Uses</b></h1>
			        	<h4 class="text-justify">
			        		This system will inform policies and planning as well as decision-making by a wide range of users. For example, the product will inform analysis and policy on changes in forest cover and associated Greenhouse Gas emissions.
			        	</h4>
			        </div>
			    </div>

			</div>
		</div>

	</div>

	<!--<div class="arrow bounce">
		<a class="glyphicon glyphicon-circle-arrow-down scroll-down" href="#" aria-hidden="true"></a>
	</div>-->

{% endblock main_container %}

{% block footer_container %}
    {% include "footer.html" %}
{% endblock footer_container %}
