{% extends "layout.html" %}
{% load cms_tags staticfiles %}

{% block navigation_container%}
    {% include "navigation.html" %}
{% endblock navigation_container %}

{% block main_container %}

<div class="container-fluid">

    <div class="row" ng-controller="landCoverController">

        <!-- Alert Container -->
        <div class="alert alert-dismissible text-center display-none custom-alert" role="alert">
            <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>[[alertContent]]</strong>
        </div>

        <!-- Loader Container -->
        <div id="loader" class="loader" ng-show="showLoader">
            <div class="loading-img" style="background: url({% static 'images/spinner.gif' %}) no-repeat;"></div>
        </div>

        <!-- Sidebar Container -->
        <div class="col-md-3 col-lg-3">
            {% include "panels/side-panel-landcover.html" %}
        </div>

        <!-- Map Container -->
        <div class="col-md-9 col-lg-9 map" id="map" ng-init="initMap(2016, 'landcovermap'); getStats();"></div>

        <!-- Toogle button container -->
        <div id="tool-control-container"></div>

        <!-- Time Slider -->
        <div class="slider-year-container">
            <input type="text" id="slider-year-selector" name="slider-year-selector" value="" />
        </div>

        <!-- Tab Container -->
        {% include "panels/map-panel-myanmar.html" %}

    </div>
</div>

{% endblock main_container %}
