{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" data-framework="angularjs">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% page_attribute 'meta_description' %}">
	<meta name="author" content="{% page_attribute 'author' %}">

	<title>Land Cover Portal</title>

	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

	{% addtoblock "css" %}
	    <style type="text/css">
	        /** Hide when Angular is not yet loaded and initialized */
	        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	            display: none !important;
	        }
	    </style>

		<!-- Bootstrap Core CSS -->
		<link href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Load CSS -->
		{% if debug %}	
		<!-- Custom CSS -->
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
		<link href="{% static 'css/navigation.css' %}" rel="stylesheet">
		<link href="{% static 'css/footer.css' %}" rel="stylesheet">
		{% else %}
		<link href="{% static 'dist/application.min.css' %}" rel="stylesheet">
		{% endif %}
	
		<!-- Normalize CSS -->
		<link href="{% static 'vendor/normalize-css/normalize.css' %}" rel="stylesheet">
		<!-- Fonts -->
		<link href="{% static 'vendor/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	{% endaddtoblock %}

	{% render_block "css" %}

</head>
<body>

	<div ng-cloak>

		{% cms_toolbar %}

	    <!-- CMS Menu -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav navbar-right">
	            {% show_menu 0 100 100 100 %}
	        </ul>
	    </div>

        {% include "navigation.html" %}

		{% block main_container %} {% endblock main_container %}

	</div>

    {% include "footer.html" %}

	{% addtoblock "js" %}

		<!-- Load JS Lib -->
		<!-- jQuery -->
		<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	
	    <!-- Google Maps API -->
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCftEx2S9RjScdfNCGa4Z-8HgUVIUjOErk&v=3.exp&libraries=drawing"></script>
	
		<!--  Load Angular  -->
		<script src="{% static 'vendor/angular/angular.min.js' %}"></script>
	
		{% if debug %}
	    <!-- Bootstrap Application -->
	    <script src="{% static 'app/init.js' %}"></script>
	
	    <!-- Load Settings -->
	    <script src="{% static 'app/config/settings.js' %}"></script>
	
	    <!-- Services -->
	    <!-- <script src="{% static 'app/services/map.js' %}"></script> -->
	    
	    <!-- Controllers -->
	    <script src="{% static 'app/controllers/settings.js' %}"></script>
	    <!-- <script src="{% static 'app/controllers/map.js' %}"></script> -->
		{% else %}
		<script src="{% static 'dist/application.min.js' %}"></script>
		{% endif %}
	
	{% endaddtoblock %}


	{% render_block "js" %}

	<script type="text/javascript">
	    $('.scroll-down').click (function() {
	    	$('html, body').animate({
	    		scrollTop: $('#about').offset().top 
	    	}, 'slow');
	      	return false;
	    });
	</script>

</body>
</html>
