{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" data-framework="angularjs">
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
	  	function gtag(){dataLayer.push(arguments);}
	  	gtag('js', new Date());

		gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
	</script>
	<!-- Google Sign in -->
	<script>
		function start() {
			gapi.load('auth2', function() {
				auth2 = gapi.auth2.init({
					client_id: '{{ GOOGLE_OAUTH2_CLIENT_ID }}',
					// Scopes to request in addition to 'profile' and 'email'
					scope: 'https://www.googleapis.com/auth/drive'
				});
			});
		}
	</script>

	<!-- Mouse Flow -->
	<script type="text/javascript">
		window._mfq = window._mfq || [];
		(function() {
			var mf = document.createElement("script");
			mf.type = "text/javascript"; mf.async = true;
			mf.src = "//cdn.mouseflow.com/projects/8abf1772-ee4f-4989-826a-cc135f063452.js";
			document.getElementsByTagName("head")[0].appendChild(mf);
		})();
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta name="keywords" content="landcover, machine learning, vietnam, cambodia, laos, myanmar, thailand, google earth engine">
	<meta name="viewport" content="width=1024">
	<meta name="description" content="regional land cover monitoring system">
	<meta name="author" content="Thannarot Kunlamai, Servir-Mekong">

	<title> {% block title %}{% endblock %} </title>

	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

	{% addtoblock "css" %}
	    <style type="text/css">
	        /** Hide when Angular is not yet loaded and initialized */
	        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	            display: none !important;
	        }
	    </style>

		<!-- Bootstrap Core CSS -->
		<link href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Normalize CSS -->
		<link href="{% static 'vendor/normalize-css/normalize.css' %}" rel="stylesheet">
		<!-- Bootstrap Plugins -->
		<link href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
		<link href="{% static 'vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css' %}" rel="stylesheet">
		<link href="{% static 'vendor/ion.rangeSlider/css/ion.rangeSlider.css' %}" rel="stylesheet">
		<!--<link href="{% static 'vendor/ion.rangeSlider/css/ion.rangeSlider.skinHTML5.css' %}" rel="stylesheet">-->

		<!-- Mapping -->
		<link href="{% static 'vendor/leaflet/dist/leaflet.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.control.min.css" />

		<!-- Load CSS -->
		{% if debug %}
		<!-- Custom CSS -->
		<link href="{% static 'css/main-map.css' %}" rel="stylesheet">
		<link href="{% static 'css/navigation.css' %}" rel="stylesheet">
		<link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
		<link href="{% static 'css/footer.css' %}" rel="stylesheet">
		<link href="{% static 'css/forest-page.css' %}" rel="stylesheet">
		<link href="{% static 'css/landcover.css' %}" rel="stylesheet">
		<link href="{% static 'css/service-applications.css' %}" rel="stylesheet">
		<link href="{% static 'css/analysis.css' %}" rel="stylesheet">
		<link href="{% static 'css/layer.css' %}" rel="stylesheet">
		{% else %}
		<link href="{% static 'dist/application.min.css' %}" rel="stylesheet">
		{% endif %}

		<!-- Fonts -->
		<link href="{% static 'vendor/components-font-awesome/css/fontawesome-all.min.css' %}" rel="stylesheet">
	{% endaddtoblock %}

	{% render_block "css" %}

</head>
<body>

	<div ng-cloak>

		{% cms_toolbar %}

	    <!-- CMS Menu -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav navbar-right">
	            {% show_menu 0 100 100 100 %}
	        </ul>
	    </div>

        {% block navigation_container %} {% endblock navigation_container %}

		{% block main_container %} {% endblock main_container %}

	</div>

	{% block footer_container %} {% endblock footer_container %}

	{% addtoblock "js" %}

		<!-- Load JS Lib -->
		<!-- jQuery -->
		<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<!-- Bootstrap Plugins -->
	    <script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	    <!-- Slider -->
	    <script src="{% static 'vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>
	    <!-- Ion Range Slider -->
	    <script src="{% static 'vendor/ion.rangeSlider/js/ion.rangeSlider.min.js' %}"></script>

		<!-- Moment -->
		<!--<script src="{% static 'vendor/moment/min/moment.min.js' %}"></script>-->

		<!-- Mapping Library -->
	    <!-- Google Maps API -->
		<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&v=3.exp&libraries=drawing,geometry"></script>
		<!-- Leaflet -->
		<script src="{% static 'vendor/leaflet/dist/leaflet.js' %}"></script>
		<script src="{% static 'vendor/leaflet-side-by-side/leaflet-side-by-side.js' %}"></script>
        <!--<script type="text/javascript" src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.min.js"></script>-->

		<!--  Load Angular  -->
		<script src="{% static 'vendor/angular/angular.min.js' %}"></script>

		<!-- Angular Plugins -->
		<script src="{% static 'vendor/angular-sanitize/angular-sanitize.min.js' %}"></script>
		<script src="{% static 'vendor/ngstorage/ngStorage.min.js' %}"></script>

		<!-- Spatial Libraries -->
		<script src="{% static 'vendor/togeojson/togeojson.js' %}"></script>

		<!-- Graphs -->
		<script src="{% static 'vendor/highcharts/highcharts.js' %}"></script>
		<script src="{% static 'vendor/highcharts/modules/exporting.js' %}"></script>
		<script src="{% static 'vendor/highcharts/modules/export-data.js' %}"></script>

		{% if debug %}
	    <!-- Bootstrap Application -->
	    <script src="{% static 'app/init.js' %}"></script>

	    <!-- Load Settings -->
	    <script src="{% static 'app/config/settings.js' %}"></script>

		<!-- Services -->
		<script src="{% static 'app/services/common-service.js' %}"></script>
		<script src="{% static 'app/services/map-service.js' %}"></script>
		<script src="{% static 'app/services/landcover-service.js' %}"></script>
		<script src="{% static 'app/services/forest-monitor-service.js' %}"></script>

	    <!-- Controllers -->
	    <script src="{% static 'app/controllers/utils-controller.js' %}"></script>
	    <script src="{% static 'app/controllers/landcover-controller.js' %}"></script>
		<script src="{% static 'app/controllers/forest-monitor-controller.js' %}"></script>
		<script src="{% static 'app/controllers/myanmar-national-portal-controller.js' %}"></script>
		<script src="{% static 'app/controllers/myanmar-national-controller.js' %}"></script>
		<script src="{% static 'app/controllers/myanmar-ipcc-controller.js' %}"></script>
		<script src="{% static 'app/controllers/myanmar-fra-controller.js' %}"></script>
		<script src="{% static 'app/controllers/myanmar-plantation-controller.js' %}"></script>
		<script src="{% static 'app/controllers/side-by-side-map-controller.js' %}"></script>
		<script src="{% static 'app/controllers/analysis-controller.js' %}"></script>


		<!-- Directives -->
		<!--<script src="{% static 'app/directives/text-collapse.js' %}"></script>-->
		<script src="{% static 'app/directives/validate-email.js' %}"></script>

		{% else %}
		<script src="{% static 'dist/application.min.js' %}"></script>
		{% endif %}

	{% endaddtoblock %}


	{% render_block "js" %}

	<script>

		$(document).ready(function() {

		    $('.scroll-down').click (function () {
		    	$('html, body').animate({
		    		scrollTop: $('#about').offset().top
		    	}, 'slow');
		      	return false;
		    });

		   $('.nav-side-menu li').click(function () {
		      // remove classes from all
		      $('.nav-side-menu li').removeClass('active');
		      // add class to the one we clicked
		      $(this).addClass('active');
		   });

	   });

	</script>

</body>
</html>
