{% extends 'base.html'%}
<html>
  <head>
    {% block head%}
    <title>RLCMS | Method</title>
    {% endblock %}
  </head>
  <body>
    {% block body%}
    <!-- ======= Hero Section ======= -->
    <section id="branding" class="image">
      <div class="overlay">
        <div class="">
          <h2 class="animated fadeInDown">Our Method</h2>
        </div>
      </div>
    </section><!-- End Hero -->

    <main id="main">

      <section class="method-lists">
        <div class="container">
          <div class="col-lg-12 col-md-6">
            <h1>Science and Technology</h1>
          </div>

          <div class="col-lg-12 col-md-6 method-flowchart text-center">
            <img src="/static/images/rlcms_architecture_diagram.png" alt="Land Cover Portal">
          </div>

          <hr>

          <div class="col-lg-12 margin-top">
            <h1>Land Cover Mapping Methods</h1>
            <p>The overall methodology is outlined in fig. 1. A large number of indices were calculated from surface reflectance composites. These were combined with training data in the machine learning algorithm. The machine learning algorithm produced primitives which are probability maps for each land use category.  An assemblage script was used to create land cover maps. The accuracy assessment was done with validation data.</p>
              <div class="col-lg-12 lc-method">
                <img src="https://lh6.googleusercontent.com/0fCg9GXqjRXyYb7q_oMgKlxCqSx70NwQgL46UkvX45giGO4EJOwD0ILGMr_oKln-VYSpxHCEIWGI_282sFDFLnbYVMtifXNh7zsBL4t3W5vFDVwezP5Oshim4M6HW0C9kXQHRkdx" alt="">
              </div>
            </div>

          <div class="margin-top">
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="heading-method1">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse-method1" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h5 class="mb-0">
                      Surface reflectance composites <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>

                <!-- Card body -->
                <div id="collapse-method1" class="collapse show" role="tabpanel" aria-labelledby="heading-method1" data-parent="#accordionEx">
                  <div class="card-body">
                    Seasonal landsat composites were created for every year.  To have a consistent product, we used the USGS Landsat surface reflectance products.
                    These datasets contain the atmospherically corrected orthorectified surface reflectance. Landsat 4-7 images have been atmospherically corrected using LEDAPS and comes with band with a cloud, shadow, water and snow mask produced using CFMASK, as well as a per-pixel saturation mask. Landsat 8 data have been atmospherically corrected using LaSRC and also contains the data produces by CFMASK.
                    These data are hosted in the Earth Engine data archive and have approximately 30 meters ground resolution, multiple bands spanning visible to thermal wavelengths, and approximately 16-day revisit time.  To capture temporal variability, image composites were divided into three seasons including the dry hot, dry cool, and rainy seasons. Table 1 provides an overview of the period.
                    <div class="col-lg-12 col-md-6 padding-15">

                      <span>
                        <i>Table 1. For each year three composites were created. Each composite covers a period of four months.</i>
                      </span>
                      <table>
                        <tr>
                          <th>Composite</th>
                          <th>Period</th>
                        </tr>
                        <tr>
                          <th>Drycool</th>
                          <td>Nov - Feb</td>
                        </tr>
                        <tr>
                          <th>Dryhot</th>
                          <td>Mar - Jun</td>
                        </tr>
                        <tr>
                          <th>Rainy</th>
                          <td>Jul - Oct</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="heading-method2">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-method2"
                    aria-expanded="false" aria-controls="collapseTwo2">
                    <h5 class="mb-0">
                      Indices and covariates <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>

                <!-- Card body -->
                <div id="collapse-method2" class="collapse" role="tabpanel" aria-labelledby="heading-method2" data-parent="#accordionEx">
                  <div class="card-body table-band">
                    <p>The covariates used to train the model were calculated from the Landsat Surface reflectance products, the surface reflectance composites, Shuttle Radar Topography Mission (SRTM) and JRC Global Surface Water Mapping Layers.   From the image collection of each season (see table 1) the median and standard deviation were calculated for the Blue, Green, Red, Nir, Swir1, Swir2 and thermal bands. Furthermore, the standard deviation of the normalized difference for the pair of Nir - Swir2, Green - Swir1 and Nir - Red were included.  The total number of bands calculated from the seasonal image collection was 17.</p>
                    <p>The bands in the composites were used to calculate a series of covariates. Table 2 provides an overview of the band combination used in the normalized difference (eq. 1) calculations. For some of the combinations,
                      there are more common names such as NDWI (Normalized Difference Water Index), NBR (Normalized Burn Ratio), NDSI (Normalized Difference Snow Index) and NDVI (Normalized Difference Vegetation Index).</p>
                      <img src="https://lh6.googleusercontent.com/gTHzQys17xogrKkNttbA_0tNrs-IQBDPUQlpEQbQpDFnwx2VNQxep7Edw53ZmSkhtlQuvUQwyRGguGMeyLKQjDXm0vWvdxgmX_WGYLZRLwB5hQ8Bm2o0Zp2LJZIC42LrLy5WdPzq" alt="">
                      <br>
                      <span>
                        <i>Table 2: The Normalized Differences (ND; eq 1) was for every landsat surface reflectance composite. This table provides an overview of the band combinations</i>
                      </span>
                      <table>
                        <tr>
                          <td>Band1</td>
                          <td>Blue</td>
                          <td>Green</td>
                          <td>Red</td>
                          <td>NIR</td>
                          <td>SWIR1</td>
                        </tr>
                        <tr>
                          <td>Band2</td>
                          <td>Green</td>
                          <td>Red</td>
                          <td>SWIR1</td>
                          <td>Red</td>
                          <td>SWIR2</td>
                        </tr>
                        <tr>
                          <td>Band2</td>
                          <td>Red</td>
                          <td>NIR</td>
                          <td>SWIR2</td>
                          <td>SWIR1</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Band2</td>
                          <td>NIR</td>
                          <td>SWIR1</td>
                          <td></td>
                          <td>SWIR2</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Band2</td>
                          <td>SWIR1</td>
                          <td>SWIR2</td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Band2</td>
                          <td>SWIR2</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </table>

                      <p>Two new bands were created using the ratio. The ratio (R) was calculated by division of two bands. This was done for the pair of  Swir1 - Nir and Red - Swir1. Furthermore, the Enhanced Vegetation Index, the Soil Adjusted Vegetation Index (SAVI), the Index-based Built-Up Index (IBI) were calculated. The composites were also used in the Tasseled Cap transformation, with resulting indices of ”brightness,” ”greenness,” ”wetness,” ”fourth,” ”fifth,” and ”sixth.” Tasseled Cap angles (tcAngle) and distances (tcDist) for all pairs of brightness, greenness, and wetness Tasseled Cap were calculated.</p>
                      <p>Digital elevation data are from the 1-arc-second (approximately 30 meter ground resolution) Shuttle Radar Topography Mission (SRTM) dataset. We computed derived terrain properties from the SRTM data to be used as inputs in creating primitives. The derived terrain properties are slope, aspect, sin(aspect) and cos(aspect). Five terrain indices were included. Furthermore, the JRC Global Surface Water Mapping dataset  was included. This product contains maps of the location and temporal distribution of surface water from 1984 to 2015 and provides statistics on the extent and change of those water surfaces.</p>

                  </div>
                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="heading-method3">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-method3"
                    aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Training Data <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>

                <!-- Card body -->
                <div id="collapse-method3" class="collapse" role="tabpanel" aria-labelledby="heading-method3" data-parent="#accordionEx">
                  <div class="card-body">
                    Training data were collected by combining field information with high resolution satellite imagery. Points were collected in each category.
                    High resolution earth observation data allowed us to select location with extended coverage. The training data was used to train the machine learning algorithm.
                  </div>
                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="heading-method4">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-method4"
                    aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Primitives model <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>

                <!-- Card body -->
                <div id="collapse-method4" class="collapse" role="tabpanel" aria-labelledby="heading-method4" data-parent="#accordionEx">
                  <div class="card-body">
                    Two kinds of primitives were created using machine learning algorithms: binary and percent primitives. Binary primitives came from two-class classification models (e.g. cropland vs. non-cropland).
                    Specific algorithms used included Support Vector Machines (SVM) and Random Forests (RF). Percent primitives came from percent cover Random Forest regression models (e.g. percent impervious surface). In order to guarantee that percent cover values were between 0 and 100%, logratio transformations were used prior to regression, and the corresponding inverse transformations were used after regression.
                  </div>
                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="heading-method5">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-method5"
                    aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Primitives accuracy assessment <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>

                <!-- Card body -->
                <div id="collapse-method5" class="collapse" role="tabpanel" aria-labelledby="heading-method5" data-parent="#accordionEx">
                  <div class="card-body">
                    Validation of the primitives was done using a stratified random of sample of each primitive. Samples were uploaded to collect earth and used for classification purposes.
                  </div>
                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="heading-method6">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-method6"
                    aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Primitive post processing <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>

                <!-- Card body -->
                <div id="collapse-method6" class="collapse" role="tabpanel" aria-labelledby="heading-method6" data-parent="#accordionEx">
                  <div class="card-body">
                    To account for year-to-year noise within primitive layers, we use a smoothing procedure.
                    The first step for smoothing was to calculate a moving average for each pixel through time using a 3-year window.
                    Then, checks for positive (or negative) spikes that exceed a user-threshold are done and if there is a spike, the spike values are replaced with the average of the pre- and post-spike values Interannual smoothing.
                  </div>
                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="heading-method7">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-method7"
                    aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Assemblage <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>

                <!-- Card body -->
                <div id="collapse-method7" class="collapse" role="tabpanel" aria-labelledby="heading-method7" data-parent="#accordionEx">
                  <div class="card-body">

                    <p>The assemblage is a method for combining different primitive layers into a land cover map, while incorporating users' land cover definitions and priorities, and while preserving uncertainty information. At a high level, this is accomplished by a Monte Carlo method, where primitives are repeatedly randomly sampled according to their accuracies, and then passed through a user-defined decision tree to generate land cover predictions. These predictions are aggregated to produce a final land cover map.</p>
                    <p>Broadly speaking, there are two kinds of primitives that the assemblage is built to handle: binary and percent. Binary primitives are those that come from two-class classification models. Such primitives have producer's accuracies for both classes that are used to construct separate Bernoulli distributions, where the producer's accuracies are used as the probability of presence of the class. Percent primitives, on the other hand, are those that come from percent cover regression models. These primitives have root mean squared errors (RMSEs) that are used to construct normal distributions truncated between 0 and 100%, where the RMSE is used as the distribution sample standard deviation, and the percent cover prediction is used as the distribution sample mean.</p>
                    <p>Once a set of primitives have been sampled from the appropriate distributions, they are passed through a decision tree--a hierarchical set of yes/no rules. The order in which the rules are prioritized--and the thresholds for percent cover rules--is specified by the user, and may lead to different land cover maps. After many iterations of this Monte Carlo method, each pixel will have a set of land cover predictions, the mode of which is used as the final land cover prediction. In addition, the count of predictions for a given class, divided by the total number of iterations, may be used as a measure of the confidence of the land cover map for that class.</p>

                    <div class="col-lg-12">
                      <img src="https://rlcms-servir.adpc.net/media/filer_public_thumbnails/filer_public/1f/24/1f2446bd-f8ff-4306-814c-d042e155e568/rsz_decisiontree.png__484x754_q85_crop_subsampling-2_upscale.png" alt="">

                    </div>
                    <span><i>Figure 2. The decision tree for assemblage of IPCC 6 classes in the Mekong region</i></span>

                  </div>
                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="heading-method8">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse-method8"
                    aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Assemblage post processing <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                  </a>
                </div>

                <!-- Card body -->
                <div id="collapse-method8" class="collapse" role="tabpanel" aria-labelledby="heading-method8" data-parent="#accordionEx">
                  <div class="card-body">
                    Assemblage post processing apply: continuous temporal smoothing and the logical change transition matrix
                    <ul>
                      <li>The Continuous temporal smoothing use to  smooth value on the image collection (time-series assemblage products) which apply the function: “whittakerSmoothing”</li>
                      <li>The logical change transition matrix is based on  boolean logic which is build based on the logical change of land cover typology which dictates the logical change of land cover class.</li>
                    </ul>

                  </div>
                </div>

              </div>
              <!-- Accordion card -->

            </div>
            <!-- Accordion wrapper -->
          </div>

        </div>


      </section><!-- End About Lists Section -->



    </main><!-- End #main -->
    {% endblock %}
  </body>
</html>
