{% extends "layout.html" %}
{% block title %}Regional Land Cover Monitoring System Methodology{% endblock %}
{% load cms_tags staticfiles %}

{% block navigation_container%}
    {% include "navigation.html" %}
{% endblock navigation_container %}

{% block main_container %}

    <div class="container">

      <div class="panel panel-danger" style="background-color:#ebccd1; margin-top: 50px;">
          <div class="panel-body">
            <p><span>
              <svg height="40pt" viewBox="0 -300 750 750"  xmlns="http://www.w3.org/2000/svg">
                <path d="m439.210938 459.449219h-366.609376c-25.160156 0-48.53125-13.027344-61.757812-34.433594-13.230469-21.402344-14.433594-48.128906-3.179688-70.636719l183.304688-313.832031c12.300781-24.59375 37.4375-40.132813 64.9375-40.132813s52.636719 15.539063 64.9375 40.132813l183.304688 313.832031c11.253906 22.507813 10.050781 49.234375-3.179688 70.636719-13.226562 21.40625-36.59375 34.433594-61.757812 34.433594zm0 0" fill="#f0c419"/>
                <path d="m439.253906 459.449219h-183.347656v-459.035157c27.566406-.171874 52.804688 15.429688 64.972656 40.167969l183.257813 313.820313c11.269531 22.492187 10.082031 49.21875-3.136719 70.621094-13.222656 21.40625-36.585938 34.433593-61.746094 34.425781zm0 0" fill="#f29c1f"/>
                <path d="m291.21875 380c0 19.503906-15.8125 35.3125-35.3125 35.3125s-35.308594-15.808594-35.308594-35.3125c0-19.5 15.808594-35.308594 35.308594-35.308594s35.3125 15.808594 35.3125 35.308594zm0 0" fill="#35495e"/>
                <path d="m291.21875 380c0 9.367188-3.71875 18.347656-10.339844 24.972656-6.625 6.621094-15.605468 10.339844-24.972656 10.339844v-70.621094c9.367188-.003906 18.347656 3.714844 24.972656 10.339844 6.621094 6.621094 10.339844 15.605469 10.339844 24.96875zm0 0" fill="#2c3e50"/>
                <path d="m255.90625 71.035156c19.5 0 35.3125 15.808594 35.3125 35.3125v167.722656c0 19.5-15.8125 35.308594-35.3125 35.308594s-35.308594-15.808594-35.308594-35.308594v-167.722656c0-19.503906 15.808594-35.3125 35.308594-35.3125zm0 0" fill="#35495e"/>
                <path d="m291.21875 106.347656v167.722656c0 9.367188-3.71875 18.347657-10.339844 24.96875-6.625 6.625-15.605468 10.34375-24.972656 10.339844v-238.34375c9.367188-.011718 18.359375 3.703125 24.984375 10.328125 6.621094 6.625 10.339844 15.613281 10.328125 24.984375zm0 0" fill="#2c3e50"/>
              </svg>
            </span><b style="font-size:36px;">Site Under Maintenance </b></p>
            <h4 class="text-justify">
              We are adding new products to our site...
            </h4>
          </div>
      </div>

        <div class="row">
            <h1 class="text-center"><b>REGIONAL LAND COVER MONITORING SYSTEM METHODOLOGY</b></h1>
            <div class="col-md-6 col-lg-6">
                <img src="{% static 'images/methods.png' %}" style="width:110%;"/>
            </div>
            <div class="col-md-6 col-lg-6">
                <h3>A robust system that:
                <ul>
                    <li>is developed <b>collaboratively</b></li>
                    <li>Produces <b>consistent products</b> at <b>regular intervals</b></li>
                    <li>Serves the expressed <b>needs of multiple users</b> in the region</li>
                    <li>Uses <b>transparent, well documented, open source approach</b></li>
                    <li>Includes <b>quality control/quality assurance methods</b> that integrates information from multiple sources</li>
                </ul></h3>
            </div>
        </div>
        <br>
        <div class="row">
            <h1 class="text-center"><b>CODE REPOSITORIES</b></h1>
            <ul>
                <li><h3>Regional Land Cover Monitoring System Google Earth Engine code repository (Requires Earth Engine Authentication)</h3></li>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <a href="https://earthengine.googlesource.com/RLCMS/+/master"
                           class="btn btn-primary btn-lg btn-block" role="button" target="_blank">
                           Go to <img src="{% static 'images/google-git.png' %}" width="25%" /> repository
                       </a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="https://code.earthengine.google.com/?accept_repo=RLCMS"
                           class="btn btn-primary btn-lg btn-block" role="button" target="_blank">
                           View code in <img src="{% static 'images/gee.png' %}" width="33%" />
                       </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 col-lg-12 text-center">
                        <h4>Don't have an Earth Engine account yet?</h4>
                        <a href="https://signup.earthengine.google.com/"
                           class="btn btn-info btn-lg btn-block" role="button" target="_blank">
                           Sign up now <img src="{% static 'images/gee-wheel.png' %}" style="width:2%;"/>
                       </a>
                    </div>
                </div>
                <br>
                <li><h3>SERVIR-Mekong Land Cover Portal Code Repository in GitHub</h3></li>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <a href="https://github.com/Servir-Mekong/landcoverPortal"
                           class="btn btn-primary btn-lg btn-block" role="button" target="_blank">
                           Go to Land Cover Portal Repository <img src="{% static 'images/github.png' %}" width="15%" />
                       </a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="https://github.com/Servir-Mekong/LandCoverMonitoring"
                           class="btn btn-primary btn-lg btn-block" role="button" target="_blank">
                           Go to Land Cover Monitoring Repository <img src="{% static 'images/github.png' %}" width="15%" />
                       </a>
                    </div>
                </div>
            </ul>
        </div>
        <br>
        <div class="row">
            <h1 class="text-center"><b>REFERENCE DATA COLLECTION</b></h1>
            <div class="col-md-6 col-lg-6">
                <img src="{% static 'images/ceo.png' %}" />
                <a href="http://www.collect.earth/"
                   class="btn btn-primary btn-lg btn-block" role="button" target="_blank">
                   Go to Collect Earth Online
               </a>
            </div>
            <div class="col-md-6 col-lg-6">
                <h4>Collect Earth Online is a custom built, open-source, high resolution satellite image viewing and interpretation system that is being developed by SERVIR-Mekong as a tool for use in projects that require land cover and/or land use reference data. Collect Earth Online promotes consistency in locating, interpreting, and labeling reference data plots for use in classifying and monitoring land cover / land use change. The full functionality of Collect Earth Online including collaborative compilation of reference point databases is implemented online so there is no need for desktop installation.
                </h4>
            </div>
        </div>
        <br>
        <div class="row">
            <h1 class="text-center"><b>LAND COVER MAPPING METHODS</b></h1>
            <div class="col-md-12 col-lg-12">
                {% static_placeholder "1" %}
            </div>
        </div>

    </div>

{% endblock main_container %}
