{% extends "layout.html" %}
{% block title %}Regional Land Cover Portal{% endblock %}
{% block navigation_container%}
    {% include "navigation.html" %}
{% endblock navigation_container %}

{% block main_container %}

    <div class="container-fluid">

        <div class="row main-padding margin-top">

            <div class="col-md-12">

               <h1>Privacy Policy</h1>
               <h4 class="text-justify">

                  <b>SERVIR Mekong</b> built the <b>Regional Land Cover Portal</b> as a
                  service to visualize and download the landcover datasets derived from the Landsat Images. The method that is adopted can be found <a href="http://rlcms.adpc.net/method/" target="_blank">here</a> There are few papers that we are writing at the moment. These will be accessible through this page once published. So stay tuned for papers.
               <br /><br />
                  This SERVICE is provided by SERVIR Mekong at no cost
                  and is intended for use as is. This page is used to inform visitors regarding our
                  policies with the collection, use, and disclosure of “Personally Identifiable Information”
                  (PII) if anyone decided to use our Service.
        	   <br /><br />

        		  If you choose to use our Service, then you agree to the collection and
        		  use of information in relation to this policy. The Personal Information
        		  that we collect is used for providing and improving the Service. We
        		  will not use or share your information with anyone except as described
        		  in this Privacy Policy.
        		<br /><br />

        		<b>What personal information do we collect from the people that visit our application?</b>
        		<br /><br />
        		  We collect your email address, user id, and ask to manage the files in
        		  your google drive created by the application.
        		<br /><br />

                <b>When do we collect information?</b>
                <br /><br />
                When using the map service, you are asked to authorize the application.
        		<br /><br />

                <b>How do we use your information?</b>
                <br /><br />
                We use your information to transfer the map files (e.g. TIF) directly to your Google Drive.
        		<br /><br />

                <b>Do we use “cookies”?</b>
                <br /><br />
                Cookies are files with small amount of data that is commonly used an
                anonymous unique identifier. These are sent to your browser from the
                website that you visit and are stored on your device internal memory.
                <br /><br />
                This Service does not use these “cookies” explicitly. However, the application uses
                third party code and libraries (e.g. the Google Drive API) that use “cookies”
                to collection information and to improve their services.
        		<br /><br />

                <b>Third Party Disclosure</b>
                <br /><br />
                We do not sell, trade, or otherwise transfer to outside parties your PII.
        		<br /><br />

                <b>Service Providers</b>
                <br /><br />
                We may employ third-party companies (eg. Google Services) and individuals
                due to the following reasons:
                <br /><br />
                <ul>
                	<li>To facilitate our Service;</li>
                	<li>To provide the Service on our behalf;</li>
                	<li>To perform Service-related services; or</li>
                	<li>To assist us in analyzing how our Service is used</li>
                </ul>
                <br />
                We want to inform users of this Service that these third parties have access
                to your Personal Information. The reason is to perform the tasks assigned to them
                on our behalf. However, they are obligated not to disclose or use the information
                for any other purpose.
                <br /><br />

                <b>Links to Other Sites</b>
                <br /><br />
                This Service may contain links to other sites. If you click on a third-party link,
                you will be directed to that site. Note that these external sites are not operated
                by us. Therefore, we strongly advise you to review the Privacy Policy of these
                websites. We have no control over and assume no responsibility for the content,
                privacy policies, or practices of any third-party sites or services.
        		<br /><br />

                <b>Children's Privacy</b>
                <br /><br />
                These Services are not meant for anyone under the age of 13. Instead, these services
                are for users and organizations whose work align with what's provided in the services.
                Please see the Technical Document to find more about the services.
        		<br /><br />

                <b>Changes to This Privacy Policy</b>
                <br /><br />
                We may update our Privacy Policy from time to time. Thus, you are advised to review
                this page periodically for any changes. We will notify you of any changes by posting
                the new Privacy Policy on this page. These changes are effective immediately after
                they are posted on this page.
        		<br /><br />

                <b>Contact Us</b>
                <br /><br />
                If you have any questions or suggestions about our Privacy Policy, do not hesitate to
                <a href="https://servir.adpc.net/about/contact-servir-mekong">Contact Us</a>.
        		<br /><br />

        		<i>Last Edited on 2018-03-16</i>

        		</h4>

            </div> <!-- End col-md -->

        </div> <!-- End row -->

    </div> <!-- End container-fluid -->

{% endblock main_container %}

{% block footer_container %}
    {% include "footer.html" %}
{% endblock footer_container %}
