{% extends "layout.html" %}
{% block title %}Land Cover Portal{% endblock %}
{% load staticfiles %}

{% block navigation_container%}
    {% include "navigation.html" %}
{% endblock navigation_container %}

{% block main_container %}

<div class="container" ng-controller="utilsController" style="padding-top: 25px; padding-bottom: 25px;">
    <div class="row">
        <!-- Card Publications -->
        <div ng-repeat="publication in publicationLists" class="col-md-12">
            <div class="card">
                <div class="card-image">
                    <h4><span class="card-title" style="font-size: 20px; color: #5a1c1c;">[[ publication.title ]]</span></h4>
                    <div style="overflow: hidden; padding-top: 56.25%; position: relative;">
                        <iframe src="[[ publication.url ]]" allowfullscreen webkitallowfullscreen style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_container %}
