{% extends 'base.html'%}
<html>
  <head>
    {% block head%}
    <title>RLCMS | Publications</title>
    {% endblock %}
  </head>
  <body>
    {% block body%}
    <!-- ======= Hero Section ======= -->
    <section id="branding" class="image">
      <div class="overlay">
        <div class="">
          <h2 class="animated fadeInDown">Library</h2>
        </div>
      </div>
    </section><!-- End Hero -->

    <main id="main">
      <div class="container">
        <div class="col-lg-12">
          <div class="row margin-top">
            <div class="col-lg-3 col-md-6">
              <ul id="library-nav">
                <li id="li-code">Code Repository</li>
                <li class="active" id="li-publication">Publication</li>
                <li id="li-events">Events</li>
              </ul>
            </div>

            <div class="col-lg-9 col-md-6" id="publication" >
              <div class="portfolio publication-title">
                <h1>Publication</h1>

                <div class="portfolio-container">
                  <div class="col-lg-12 col-md-6 portfolio-item filter-landcover">
                    <div class="row">
                      <div class="col-lg-4 col-md-6 padding-15">
                        <div class="margin-10">
                          <img src="/static/images/publications/primitives.jpg" class="img-fluid" alt="">
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-6 padding-15">
                        <div class="publication-title animated fadeInUp">
                          <a href="https://www.sciencedirect.com/science/article/pii/S0303243419306270" target="_blank">Primitives as building blocks for constructing land cover maps</a>
                          <p><i><b>Authers:</b> David Saaha, Karis Tennesona, Ate Poortingaa, Quyen Nguyenb, Farrukh Chishtieb, Khun San Aungb</i></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-6 portfolio-item filter-forest">
                    <div class="row">
                      <div class="col-lg-4 col-md-6 padding-15">
                        <div class="margin-10">
                          <img src="/static/images/publications/landcover.jpg" class="img-fluid" alt="">
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-6 padding-15">
                        <div class="publication-title animated fadeInUp">
                          <a href="https://www.frontiersin.org/articles/10.3389/fenvs.2019.00150/full" target="_blank">Land Cover Mapping in Data Scarce Environments: Challenges and Opportunities</a>
                          <p><i><b>Authers:</b> David Saah, Karis Tenneson, Mir Matin, Kabir Uddin, Peter Cutter, Ate Poortinga</i></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-6 portfolio-item filter-landcover">
                    <div class="row">
                      <div class="col-lg-4 col-md-6 padding-15">
                        <div class="margin-10">
                          <img src="/static/images/publications/annual.jpg" class="img-fluid" alt="">
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-6 padding-15">
                        <div class="publication-title animated fadeInUp">
                          <a href="https://www.sciencedirect.com/science/article/pii/S0034425719302974" target="_blank">Annual continuous fields of woody vegetation structure in the Lower Mekong region from 2000‐2017 Landsat time-series</a>
                          <p><i><b>Authers:</b> P.Potapova, A. Tyukavinaa, S. Turubanovaa, Y. Taleroa, A. Hernandez-Sernaa</i></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-6 portfolio-item filter-landcover">
                    <div class="row">
                      <div class="col-lg-4 col-md-6 padding-15">
                        <div class="margin-10">
                          <img src="/static/images/publications/Linking-Earth-Observations.jpg" class="img-fluid" alt="">
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-6 padding-15">
                        <div class="publication-title animated fadeInUp">
                          <a href="https://www.frontiersin.org/articles/10.3389/fenvs.2019.00186/full" target="_blank">Linking Earth Observations for Assessing the Food Security Situation in Vietnam: A Landscape Approach</a>
                          <p><i><b>Authers:</b> Ate Poortinga, Quyen Nguyen, Karis Tenneson, Austin Troy, David Saah, Biplov Bhandari2</i></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-6 portfolio-item filter-landcover">
                    <div class="row">
                      <div class="col-lg-4 col-md-6 padding-15">
                        <div class="margin-10">
                          <img src="/static/images/publications/collectearth.jpg" class="img-fluid" alt="">
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-6 padding-15">
                        <div class="publication-title animated fadeInUp">
                          <a href="https://www.sciencedirect.com/science/article/pii/S1364815218312568" target="_blank">Collect Earth: An online tool for systematic reference data collection in landcover and use applications</a>
                          <p><i><b>Authers:</b> David Saaha, Gary Johnsona, Billy Ashmallg, Githika Tondapug, Karis Tennesona</i></p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>

          </div>
        </div>
      </div>



    </main><!-- End #main -->
    {% endblock %}
  </body>
</html>
