{% extends "layout.html" %}
{% block title %}Land Cover Portal{% endblock %}
{% load staticfiles %}

{% block navigation_container%}
    {% include "navigation.html" %}
{% endblock navigation_container %}

{% block main_container %}

<div class="container" ng-controller="utilsController" style="padding: 25px;">
    <div class="row">

        <div id="descriptionModal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h2>[[ descriptionModalTitle ]]</h2>
                    </div>
                    <div class="modal-body">
                        <p ng-bind-html="[[ descriptionModalBody ]]" style="font-size:17px;"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Projects -->
        <div ng-repeat="applicationCard in serviceApplicationsCards" class="col-md-4">
            <div class="card" style="height: 400px;">
                <div class="card-image">
                    <img class="img-responsive" src="{% static '' %}[[applicationCard.imageURL]]">
                    <a href="[[ applicationCard.url ]]">
                        <h4><span class="card-title">[[ applicationCard.name ]]</span></h4>
                    </a>
                </div>

                <div class="card-content">
                    <span ng-bind-html="[[ trimDescription(applicationCard.description) ]]"></span>
                    <span>
                           <a class="collapse-text-toggle" href=""
                              style="text-decoration: none;"
                              ng-click="showModal(applicationCard.name, applicationCard.description);">
                              ... &nbsp;(more)
                          </a>
                    </span>
                    <!--<p text-collapse
                           text-collapse-max-length="220"
                           text-collapse-text="[[ applicationCard.description ]]"
                           text-collapse-title="[[ applicationCard.name ]]">
                       </p>-->
                </div>

                <!--<div class="card-action text-center">
                        <a href="[[ applicationCard.url ]]">Go To Application</a>
                    </div>-->
            </div>
        </div>
    </div>
</div>

{% endblock main_container %}
