{% extends "layout.html" %}
{% load cms_tags staticfiles %}

{% block navigation_container%}
    {% include "navigation.html" %}
{% endblock navigation_container %}

{% block main_container %}

<div class="container-fluid">

    <div class="row" ng-controller="sideBySideMapController">

        <!-- Alert Container -->
        <div class="alert alert-dismissible text-center display-none full-alert" role="alert">
            <button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>[[alertContent]]</strong>
        </div>

        <!-- Loader Container -->
        <div id="loader" class="loader" ng-show="showLoader">
            <div class="loading-img" style="background: url({% static 'images/spinner.gif' %}) no-repeat;"></div>
        </div>

        <!-- Sidebar Container -->
        <div class="col-md-3 col-lg-3">
            {% include "panels/side-panel-side-by-side-map.html" %}
        </div>

        <!-- Map Container -->
        {% if version1 %}
            <div class="col-md-9 col-lg-9 map" id="map" ng-init="initMap(2000, 'left', 'v1'); initMap(2016, 'right', 'v1');"></div>
        {% elif version2 %}
            <div class="col-md-9 col-lg-9 map" id="map" ng-init="initMap(2000, 'left', 'v2'); initMap(2017, 'right', 'v2');"></div>
        {% else %}
            <div class="col-md-9 col-lg-9 map" id="map" ng-init="initMap(1987, 'left', 'v3'); initMap(2017, 'right', 'v3');"></div>
        {% endif %}

    </div>
</div>

{% endblock main_container %}
