.forest-map {
	height: calc(100vh - 70px);
}

.servir {
	width: 250px !important;
}

.tab-tool {
	position: absolute;
	width: 300px;
	background-color: white;
	top: 120px;
    left: auto;
    right: 12px;
    display: inline-block;
}

/* Tabs */
.btn-pref .btn {
    -webkit-border-radius:0 !important;
    border: none;
}

.btn-pref .glyphicon {
    font-size: 2em;
}

.tab-tool-content {
	margin: 0;
}

.inner-tab {
	margin-top: 15px;
}

.report-title {
    color: #04c;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3px;
    text-transform: uppercase;
    display: block;
}

.report-detail {
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
}
/*
 * Map Tools
 */
.tool-control {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 10px 14px;
}

.large-icon {
    line-height: 20px;
    font-size: 1.4em;
}

/* Sliders */
#tree-canopy-opacity-slider .slider-selection,
#tree-height-opacity-slider .slider-selection,
#forest-gain-opacity-slider .slider-selection,
#forest-loss-opacity-slider .slider-selection,
#forest-change-opacity-slider .slider-selection {
    background: #BABABA;
}
