.servir {
    width: 250px !important;
}

/* Tabs */

.btn-pref .btn {
    -webkit-border-radius: 0 !important;
    border: none;
}

.btn-pref .glyphicon {
    font-size: 2em;
}

.tab-tool-content {
    margin: 0;
}

.inner-tab {
    margin-top: 15px;
}

.forest-definition {
    color: black;
    background-color: #337ab7;
    /*margin-top: -10px;*/
    width: 100%;
}

.report-title {
    color: #04c;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3px;
    text-transform: uppercase;
    display: block;
}

.report-detail {
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
}

/*
 * Map Tools
 */

.tool-control {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 10px 14px;
}

.large-icon {
    line-height: 20px;
    font-size: 1.4em;
}

/* Sliders */

#tree-canopy-opacity-slider .slider-selection, #tree-height-opacity-slider .slider-selection, #forest-gain-opacity-slider .slider-selection, #forest-loss-opacity-slider .slider-selection, #forest-change-opacity-slider .slider-selection {
    background: #BABABA;
}

/*
 * Layer Control
 */

.layer-control {
    position: fixed;
    display: inline-block;
    z-index: 2;
    right: 0;
    margin-right: 65%;
    bottom: 0;
}

.panel-heading>.panel-title {
    font-size: 20px;
}

.custom-layer-switch {
    margin-left: 10px;
}

.custom-layer-switch>input[type="checkbox"] {
    display: none;
}

.custom-layer-switch>label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 40px;
}

.custom-layer-switch>label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.custom-layer-switch>label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.custom-layer-switch>input[type="checkbox"]:checked+label::before {
    background: inherit;
    opacity: 0.5;
}

.custom-layer-switch>input[type="checkbox"]:checked+label::after {
    background: inherit;
    left: 20px;
}

/* Sidebar */

.sidebar-image-container {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}