

.servir {
  width: 150px !important;
  margin-right: 5px;
}
.form-group {
    margin-bottom: 5px;
}
.form-control-forest {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: 20px;
    padding: 6px 12px;
    font-size: 12px;
    padding: 3px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* Tabs */

.btn-pref .btn {
    -webkit-border-radius: 0 !important;
    border: none;
}

.btn-pref .glyphicon {
    font-size: 2em;
}

.tab-tool-content {
    margin: 0;
}

.inner-tab {
    margin-top: 15px;
}

.forest-definition {
    color: white;
    background-color: #337ab7;
    /*margin-top: -10px;*/
    width: 100%;
}

.report-title {
    color: #585858;
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 3px;
    display: block;
}

.report-detail {
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
}

/*
 * Map Tools
 */

.tool-control {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 3px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 10px 14px;
    padding: 4px;
    font-size: 15px;
    color: #333;

}

.large-icon {
    line-height: 20px;
    font-size: 1.4em;
}
.control-gray-color{
  color: gray;

}

/* Sliders */

#tree-canopy-opacity-slider .slider-track-high,
#tree-height-opacity-slider .slider-track-high,
#tree-extend-opacity-slider .slider-track-high,
#forest-gain-opacity-slider .slider-track-high,
#forest-loss-opacity-slider .slider-track-high,
#forest-change-opacity-slider .slider-track-high,
#primary-forest-opacity-slider .slider-track-high {
    background: #BABABA;
    /*background: rgb(198, 40, 40);*/
}

#tree-canopy-opacity-slider .slider-selection,
#tree-height-opacity-slider .slider-selection,
#tree-extend-opacity-slider .slider-selection,
#forest-gain-opacity-slider .slider-selection,
#forest-loss-opacity-slider .slider-selection,
#forest-change-opacity-slider .slider-selection,
#primary-forest-opacity-slider .slider-selection {
    background: #c62828;
}

#tree-canopy-opacity-slider .slider-handle,
#tree-height-opacity-slider .slider-handle,
#tree-extend-opacity-slider .slider-handle,
#forest-gain-opacity-slider .slider-handle,
#forest-loss-opacity-slider .slider-handle,
#forest-change-opacity-slider .slider-handle,
#primary-forest-opacity-slider .slider-handle {
    /*background: #BABABA;*/
    background: #c62828;
    width: 15px;
    height: 15px;
}

#tree-canopy-opacity-slider .slider-track,
#tree-height-opacity-slider .slider-track,
#tree-extend-opacity-slider .slider-track,
#forest-gain-opacity-slider .slider-track,
#forest-loss-opacity-slider .slider-track,
#forest-change-opacity-slider .slider-track,
#primary-forest-opacity-slider .slider-track {
    height: 5px;
    border-radius: 0;
}

/*
 * Layer Control
 */

.layer-control {
    position: fixed;
    display: inline-block;
    z-index: 2;
    right: 0;
    margin-right: 65%;
    bottom: 0;
}

.panel-heading>.panel-title {
    font-size: 20px;
}

.custom-layer-switch {
    margin-left: 10px;
}

.custom-layer-switch>input[type="checkbox"] {
    display: none;
}

.custom-layer-switch>label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 40px;
}

.custom-layer-switch>label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.custom-layer-switch>label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.custom-layer-switch>input[type="checkbox"]:checked+label::before {
    background: inherit;
    opacity: 0.5;
}

.custom-layer-switch>input[type="checkbox"]:checked+label::after {
    background: inherit;
    left: 20px;
}

/* Sidebar */

.sidebar-image-container {
  padding: 5px;
  margin-left: 0%;
  margin-right: 0;
  position: absolute;
  bottom: 90px;
  width: 100%;
  left: -10px;
}


.opacity-slider{
  font-size: 12px;
}

.btn-custom-sm{
  font-size: 10px;
  padding: 2px;
  border-radius: 50px;
}

.btn-custom-md{
  font-size: 12px;
  padding: 2px;
  border-radius: 50px;
  margin-bottom: 10px;
}
