.lcp-class-color {
  	width: 25px;
  	height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  	border: 1px solid rgba(0, 0, 0, .2);
  	border-radius: 5px;
}

.lcp-class-container {
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    color: black;
    /* padding: 3px; */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.lc-color-container {
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    color: black;
    /* padding: 3px; */
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.slider-year-container {
    position: absolute;
    width: 60%;
    /* background-color: white; */
    /* top: 120px; */
    /* left: auto; */
    right: 10%;
    /*top: 120px;*/
    /* display: inline-block; */
    /* z-index: 2; */
    bottom: 5px;
    background: #3333;
    border-radius: 10px;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    background-color: #25274D;
}

.irs--round .irs-bar {
    top: 36px;
    height: 4px;
    background-color: #25274D;
}

.irs--round .irs-handle {
    top: 26px;
    width: 24px;
    height: 24px;
    border: 4px solid #25274D;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}

.irs--round .irs-grid-text {
    color: black;
    font-size: 15px;
}

/* Sliders */

#landcover-opacity-slider .slider-track-high,
#composite-opacity-slider .slider-track-high,
#primitive-opacity-slider .slider-track-high,
#probability-opacity-slider .slider-track-high {
    background: #BABABA;
}

#landcover-opacity-slider .slider-selection,
#composite-opacity-slider .slider-selection,
#primitive-opacity-slider .slider-selection,
#probability-opacity-slider .slider-selection {
    background: #BABABA;
}

#landcover-opacity-slider .slider-handle,
#composite-opacity-slider .slider-handle,
#primitive-opacity-slider .slider-handle,
#probability-opacity-slider .slider-handle {
    /*background: #BABABA;*/
    background: #25274D;
    width: 20px;
    height: 20px;
}

#landcover-opacity-slider .slider-track,
#composite-opacity-slider .slider-track,
#primitive-opacity-slider .slider-track,
#probability-opacity-slider .slider-track {
    height: 10px;
    border-radius: 0;
}

.container-primitive {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-primitive input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d5d4d4;
    border-radius: 50%;
    margin-left: 4px;
    margin-top: -3px;
}

/* On mouse-over, add a grey background color */
.container-primitive:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-primitive input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-primitive input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-primitive .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* Leaflet overwrite */
.leaflet-sbs-range {
    left: 0;
}

.btn-drawtool{
  padding: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  width: 80px;
}
