/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e3e3e3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.form-control {
    display: block;
    width: 100%;
    height: 27px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.lcp-class-color {
  	width: 25px;
  	height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  	border: 1px solid rgba(0, 0, 0, .2);
  	border-radius: 5px;
}

.lcp-class-container {
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    color: black;
    /* padding: 3px; */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.lc-color-container {
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    color: black;
    /* padding: 3px; */
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.slider-year-container {
    position: absolute;
    width: 60%;
    /* background-color: white; */
    /* top: 120px; */
    /* left: auto; */
    left: 20%;
    /* top: 120px; */
    /* display: inline-block; */
    /* z-index: 2; */
    bottom: 15px;
    background: rgb(0 0 0 / 75%);
    border-radius: 0;
    padding: 2px;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    background-color: #333333;
    font-size: 12px;
}

.irs--round .irs-bar {
    top: 36px;
    height: 4px;
    background-color: #8dd4b2;
}

.irs--round .irs-handle {
  top: 30px;
  width: 10px;
  height: 15px;
  border: 3px solid #8dd4b2;
  background-color: #f9f9f9;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}

.irs--round .irs-grid-text {
    color: #FFF;
    font-size: 10px;
}

.irs--round .irs-min, .irs--round .irs-max {
    color: #FFF;
    font-size: 12px;
    line-height: 1;
    top: 0;
    padding: 3px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #333333;
}
/* Sliders */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 0;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


#landcover-opacity-slider .slider-track-high,
#composite-opacity-slider .slider-track-high,
#primitive-opacity-slider .slider-track-high,
#probability-opacity-slider .slider-track-high {
    background: #BABABA;
}

#landcover-opacity-slider .slider-selection,
#composite-opacity-slider .slider-selection,
#primitive-opacity-slider .slider-selection,
#probability-opacity-slider .slider-selection {
    background: #BABABA;
}

#landcover-opacity-slider .slider-handle,
#composite-opacity-slider .slider-handle,
#primitive-opacity-slider .slider-handle,
#probability-opacity-slider .slider-handle {
    /*background: #BABABA;*/
    background: #25274D;
    width: 20px;
    height: 20px;
}

#landcover-opacity-slider .slider-track,
#composite-opacity-slider .slider-track,
#primitive-opacity-slider .slider-track,
#probability-opacity-slider .slider-track {
    height: 10px;
    border-radius: 0;
}

.container-primitive {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-primitive input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d5d4d4;
    border-radius: 50%;
    margin-left: 4px;
    margin-top: -3px;
}

/* On mouse-over, add a grey background color */
.container-primitive:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-primitive input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-primitive input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-primitive .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* Leaflet overwrite */
.leaflet-sbs-range {
    left: 0;
}

.draw-tab-desc {
  font-size: 12px;
  font-weight: 800;
  color: #555;
  text-align: center;
}
.select-area-admin{
  font-size: 12px;
  font-weight: 800;
  color: #555;
  text-align: left;
}
.area-define-tab{
  border: none;
  color: #333;
  background: #FFF;
  font-size: 10px;
  text-transform: uppercase;
}
 .btn-upload-file{
   margin-top: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
 }
.btn-drawtool{
  padding: 2px;
  cursor: pointer;
  background-color: white;
  color: #333;
  border: 2px solid #e7e7e7;
  width: 65px;
}
.btn.btn-default.btn-sm.btn-drawtool:hover{
  background-color: #e7e7e7;
  color: #333;
}

.control-panel {
    top: 90px;
    right: 10px;
    width: 38px;
}

.control-panel ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.pointer {
    cursor: pointer;
}

.control-panel li {
    background: rgba(0,0,0,.65);
    border-radius: 25px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    width: 35px;
    margin-top: 5px;
}

.control-panel li:hover {
    background: rgba(0,0,0,.75);
}

.control-panel ul.map-data-content{
  background: rgba(0,0,0,.65);
  border-radius: 50px;
  margin-top: 10px;
  padding: 5px;
  width: 35px;
}

.control-panel ul.map-data-content li{
  border-radius: 25px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background: rgb(0 0 0 / 0%);
}


.map-component {
    position: absolute;
    z-index: 99;
}

.panel-icon {
    fill: #555;
    display: block;
    margin: auto;
    height: 25px;
    width: 25px;
}

/* TOOLTIP WHEN HOVER ON MAP CONTROL */
.tooltipmap{position:absolute;background:#fffee2;box-shadow:0 1px 3px rgba(85,85,85,0.25);z-index:1000;margin:0;visibility:hidden;opacity:0;text-transform:uppercase;color:#555;font-weight:400;font-size:12px;line-height:1.25;bottom:100%;text-align:center;padding:6px 8px;white-space:nowrap;pointer-events:none;-webkit-transform:translate(-40%,5px);transform:translate(-40%,5px);}
.tooltipmap.low{bottom:25%}
.tooltipmap.low-mid{bottom:50%}
.tooltipmap.middle{bottom:75%}
.tooltipmap.top{bottom:100%}
.tooltipmap.left{left:-200%}
.tooltipmap.right{left:65%}
.tooltipmap.fire{left:17%}
.tooltipmap1{bottom:90%}
.tooltipmap2{bottom:75%}
.tooltipmap3{bottom:60%}
.tooltipmap4{bottom:45%}
.tooltipmap5{bottom:35%}
.tooltipmap6{bottom:20%}
.tooltipmap7{bottom:5%}
.tabs div:hover .tooltipmap{opacity:1;visibility:visible}
.control-panel ul li:hover
.tooltipmap{opacity:1;visibility:visible}
.layer-checkbox:hover
.tooltipmap{opacity:1;visibility:visible}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 60;
  background-color: #FFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 25px;
  font-weight: 500;
  color: #FFF;
  margin-left: 60px;
  cursor: pointer;
  background: #ccc;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50px;
}

.sidenav-right{
  right: 0;
  overflow: auto;
  padding-bottom: 100px;
  top: 80px;
  height: 100%;
  z-index: 98;
  background: rgb(0 0 0 / 75%);
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.03)
}

.sideanv-content{
  background-color: rgb(0 0 0 / 0%);
  margin: 5px 15px;
  padding: 10px 10px 10px 10px;
  color: #FFF;
}


.btn-primary:hover, .btn-default:hover{
  color: #FFF;
  background-color: #333
}
.btn-primary:focus , .btn-primary:active, .btn-default:focus , .btn-default:active{
  background-color: #f1f1f1;
  outline: none;
  color: #000;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toggles-list .toggle {
    display: flex;
    align-items: center;
}

.toggles-list .toggle label {
    margin-left: 11px;
}


.switch_layer {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 12px;
}

.switch_layer input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_toggle, .slider_toggle_jrc {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_toggle:before, .slider_toggle_jrc:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_toggle {
  background-color: #8dd4b2;
}

input:checked + .slider_toggle_jrc {
  background-color: #00008b;
}

input:focus + .slider_toggle {
  box-shadow: 0 0 1px #9999ff;
}

input:focus + .slider_toggle_jrc {
  box-shadow: 0 0 1px #00008b;
}

input:checked + .slider_toggle:before, input:checked + .slider_toggle_jrc:before  {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.irs--round.irs-with-grid {
    height: 50px;
}

/* Rounded sliders */
.slider_toggle.round, .slider_toggle_jrc.round {
  border-radius: 34px;
}

.slider_toggle.round:before, .slider_toggle_jrc.round:before  {
  border-radius: 50%;
}

.toggles-list label{
  font-weight: 500;
  font-size: 12px
}

.btn-update {
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  background-color: rgb(248 255 252 / 46%);
  border: 2px solid #8dd4b2;
  border-radius: 50px;
  width: auto;
  height: 30px;
  margin-bottom: 10px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
.legend-lc-class {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
.legend-tab label b{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1;
  color: #4a4a4a;
  text-transform: uppercase;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FFF;
  border: 0 solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  max-height: 500px;
  overflow: auto;
}

.google-login{
  margin-right: 50px;
  width: auto;
  height: 30px;
  background: #333;
  border-radius: 30px;
  color: #FFF;
  padding: 5px;
}
